<template name="attendeesItem">
     <li class="list-group-item">
      {{#if isEventOwner}}
        <span class="{{present}}"></span>
      {{/if}}
      {{attendeeFirstName}} {{attendeeLastName}} <small>registered on {{dateFormat}}</small>
        {{#if isAttendee}}
          <div class="pull-right">
            {{#afModal class="glyphicon glyphicon-pencil" collection="Attendee" operation="update" doc=_id formId="updateAttendee" title="Edit Attendee Name"}}
            {{/afModal}}
            {{#if timeRes }}
              <a class="glyphicon glyphicon-remove-circle refund"></a>
            {{/if}}
          </div>
        {{/if}}

    </li>
</template>