<template name="attendeesItem">
     <li class="list-group-item">
      {{attendeeFirstName}} {{attendeeLastName}} <small>registered on {{createdAt}}</small>
        {{#if isAttendee}}
          <div class="pull-right">
            {{#afModal class="glyphicon glyphicon-pencil" collection="Attendee" operation="update" doc=_id title="Edit Attendee Name"}}
            {{/afModal}}
            {{#afModal class="glyphicon glyphicon-remove-circle" collection="Attendee" operation="remove" doc=_id title="Unregister" prompt="Unregister from this class and be refunded?" buttonContent="Unregister" formId="removeAttendee"}}
            {{/afModal}}
          </div>
        {{/if}}
    </li>
</template>