<template name="attendeesItem">
     <li class="list-group-item">
      {{#if isEventOwner}}
        <span class="{{present}}" role='button'></span>
      {{/if}}
      {{attendeeFirstName}} {{attendeeLastName}} <small>registered on {{dateFormat}}</small>
      <div class="pull-right">
        {{status}}
        {{#if isAttendee}}
            {{#afModal class="glyphicon glyphicon-pencil" collection="Attendee" operation="update" doc=_id formId="updateAttendee" title="Edit Attendee Name"}}
            {{/afModal}}
            {{#if timeRes }}
              <a class="glyphicon glyphicon-remove-circle refund" role='button'></a>
            {{/if}}
        {{/if}}
        {{#if isEventOwner}}
        <span class="glyphicon glyphicon-share refund" role='button'></span>
        {{/if}}
      </div>
    </li>
</template>