<template name="search">
  {{#if isSearch}}
    {{#autoForm collection="Search" id="search" type="normal"}}
    <div class="form-inline">
        {{> afQuickField name="category" class="form-control input-sm"}}
        {{> afQuickField name="city" class="form-control input-sm"}}
        {{> afQuickField name="state" class="form-control input-sm"}}
        {{> afQuickField name="radius" class="form-control input-sm"}}
      <div>
        <button type="submit" class="btn btn-success btn-block btn-xs">Submit</button>
      </div>
    </div>
    {{/autoForm}}
  {{/if}}
</template>