<template name="payout">
  <h3>Pay for Classes</h3>
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">Save Payment Information</div>
      </div>
      <form action="" method="POST" id="payment-form">
      <div class="panel-body">

        </div>
        <div class="panel-footer">
          <button class="btn btn-success" type="submit">Store Card</button>
        </div>
      </form>
    </div>
  </div>


</template>