<template name="bottomButtons">
  <div class="btn-group btn-group-justified">
    <a href="#" class="btn btn-default prev"><i class="material-icons">keyboard_arrow_left</i></a>
    <a href="#" class="btn btn-default search"><i class="material-icons">search</i></a>
    <a href="#" class="btn btn-default today"><i class="material-icons">today</i></a>
    <a href="#" class="btn btn-default {{view}}"><i class="material-icons">event_note</i></a>
    <a href="#" class="btn btn-default next"><i class="material-icons">keyboard_arrow_right</i></a>
  </div>
</template>