<template name="bottomButtons">
{{#if isUser}}
  <nav class="navbar navbar-fixed-bottom">
    <div class="btn-group-sm btn-group-justified dropup" role="group">
      {{#if calendar}}
        <a class="btn btn-default prev"><i class="material-icons">keyboard_arrow_left</i></a>
      {{/if}}
        <a class="btn btn-default today"><i class="material-icons">today</i></a>

      <a class="btn btn-default search"><i class="material-icons">search</i></a>

      <a class="btn btn-default home"><i class="material-icons">home</i></a>

      <a class="btn btn-default nots"><i class="material-icons">notifications</i></a>

      <a class="btn btn-default cached"><i class="material-icons">cached</i></a>


      {{#if calendar}}
        <a class="btn btn-default next"><i class="material-icons">keyboard_arrow_right</i></a>
      {{/if}}
    </div>
  </nav>
{{else}}
<div class="mr-footer">
    <div class="container">
        <ul class="footer-1 col-xs-2">
            <li><h4><a href="/about">About Us</a></h4></li>

            <li><a href="/about">About Muck Rack</a></li>
            <li><a href="/inthenews">Press Coverage</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/careers">Work at Muck Rack</a></li>
        </ul>

        <ul class="footer-2 col-xs-3">
            <li><h4><a href="/journalists">For Journalists</a></h4></li>

            <li><a href="/journalists">Create  Portfolio</a></li>
            <li><a href="/daily/email">Muck Rack Daily</a></li>
            <li><a href="/newsroom">The Newsroom</a></li>
        </ul>

        <ul class="footer-3 col-xs-4">
            <li><h4><a href="/benefits">For Communication Pros</a></h4></li>

            <li><a href="/benefits">Plans &amp; Pricing</a></li>
            <li><a href="/search/">Advanced Search</a></li>
            <li><a href="/medialists/">Media Lists</a></li>
            <li><a href="/bookmarklet">Bookmarklet</a></li>
        </ul>

        <ul class="footer-4 col-xs-3">
            <li><h4><a href="/contact">Contact Us</a></h4></li>

            <li><i class="fa fa-question-circle"></i> <a href="/contact">Feedback/Support</a></li>
            <li><i class="fa fa-envelope"></i> <a href="mailto:hello@muck%72%61c%6B.c%6Fm">hello@muckrack.com</a></li>
            <li><i class="fa fa-twitter"></i> <a target="_blank" href="http://twitter.com/muckrack">Twitter</a></li>
            <li><i class="fa fa-facebook"></i> <a target="_blank" href="http://facebook.com/muckrack">Facebook</a></li>
            <li><i class="fa fa-phone"></i> (212) 500-1883<br><i class="fa fa-phone" style="visibility:hidden"></i> (855) MUCK-RACK</li>
        </ul>

        <div class="clearfix"></div>

        <div class="mr-footer-meta top-sm">
            <a href="/privacy">Privacy Policy</a> &nbsp;•&nbsp;
            <a href="/terms">Terms &amp; Conditions</a>

            <div class="pull-right">
                Copyright 2016 Sawhorse Media &nbsp;•&nbsp;
                <a target="_blank" href="http://wearemadeinny.com/">Made in NYC</a>
            </div>
        </div>
    </div>
</div>
{{/if}}
</template>