<template name="navbar">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only"></span>
          {{> menuIcon}}
        </button>
        <a class="navbar-brand" href="{{pathFor 'home'}}">
          <img alt="Class" height="20" src="/images/class-type.png">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {{#if currentUser}}
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Classes <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a class='navclose' href="{{pathFor 'myEvent'}}">Instructing</a></li>
              {{#if hasAccount}}
              {{else}}
                <li><a class='navclose' href="{{pathFor 'getPaid'}}">Start Accepting Money</a></li>
              {{/if}}
              <li><a class='navclose' href="{{pathFor 'myAttend'}}">Attending</a></li>
              <li><a class='navclose' href="{{pathFor 'eventSearch'}}">Search</a></li>
              <li class="divider"></li>
              <li><a class='navclose' href="{{pathFor 'calendar'}}">My Calendar</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Account <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a class='navclose' href="{{pathFor 'profileEdit'}}">Edit Profile</a></li>
              <li><a class='navclose' href="{{pathFor 'resetPassword'}}">Change Password</a></li>
              <li class="divider"></li>
              <li><a class='navclose' href="{{pathFor 'payout'}}">Payment Method</a></li>
              {{#if hasAccount}}
                <li><a class='navclose' href="{{pathFor 'getPaid'}}">
                  Account Dashboard
                </a></li>
              {{/if}}
            </ul>
          </li>
          <!--{{else}}-->
          <!--<li><a href="{{pathFor 'calendar'}}">Calendar</a></li>-->
          <!--<li><a href="{{pathFor 'eventSearch'}}">Classes</a></li>-->
          {{/if}}
        </ul>
        <!--<ul class="nav navbar-nav navbar-right">-->
        <!--  {{#if currentUser}}-->
        <!--  {{else}}-->
        <!--    <li><a class='navclose' href="{{pathFor 'register'}}">Register</a></li>-->
        <!--  {{/if}}-->
        <!--  {{> atNavButton}}-->
        <!--</ul>-->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

</template>