<template name="navbar">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <i class="glyphicon glyphicon-menu-hamburger"></i>
        </button>
        <a class="navbar-brand" href="{{pathFor 'home'}}">Class</a>
        <ul class="nav navbar-nav">
        </ul>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {{#if currentUser}}
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Classes <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              {{#if hasAccount}}
                <li><a href="{{pathFor 'myEvent'}}">Instructing</a></li>
              {{/if}}
              <li><a href="{{pathFor 'myAttend'}}">Attending</a></li>
              <li><a href="{{pathFor 'eventSearch'}}">Search</a></li>
              <li class="divider"></li>
              <li><a href="{{pathFor 'calendar'}}">My Calendar</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Account <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{{pathFor 'profileEdit'}}">Edit Profile</a></li>
              <li class="divider"></li>
              <li><a href="{{pathFor 'payout'}}">Payment Method</a></li>
              <li><a href="{{pathFor 'getPaid'}}">
                {{#if hasAccount}}
                  Account Dashboard
                {{else}}
                  Start Instructing
                {{/if}}
              </a></li>
            </ul>
          </li>
            {{#if hasAccount}}
              <li>
                {{#afModal collection="CalEvent" operation="insert" formId="insertClass"}}
                 New Class
                {{/afModal}}
              </li>
            {{/if}}
          {{else}}
          <li><a href="{{pathFor 'calendar'}}">Calendar</a></li>
          <li><a href="{{pathFor 'eventSearch'}}">Classes</a></li>
          {{/if}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{pathFor 'register'}}">Register</a></li>
          {{> atNavButton}}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</template>