<template name="eventItemList">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{#if isOwner}}
        <ul class="pull-right">
          {{#afModal class="mdi-content-create" collection="CalEvent" operation="update" doc=_id}}
          {{/afModal}}
          {{#afModal class="mdi-content-clear" collection="CalEvent" operation="remove" doc=_id}}
          {{/afModal}}
        </ul>
      {{/if}}
      <h3 class="panel-title"> {{title}} <small>{{username}}</small></h3>
    </div>
    <div class="panel-body">
        {{start}} {{end}}
    </div>
  </div>
</template>