<template name="eventSearch">
  {{> EasySearch.Input index=calEventIndex}}
  <!--<ul>-->
    {{#EasySearch.Each index=calEventIndex}}
      {{> eventItemList}}
    {{/EasySearch.Each}}
  <!--</ul>-->

  {{> EasySearch.LoadMore index=calEventIndex}}

  <!--{{#EasySearch.IfNoResults index=CalEventIndex}}-->
  <!--  <div class="no-results">No results found!</div>-->
  <!--{{/EasySearch.IfNoResults}}-->
  
  <!--<h2>Classes near Zipcode</h2>-->
  <!--<div class="list-group">-->
  <!--  {{#each calevent}}-->
  <!--    {{> eventItemList}}-->
  <!--  {{/each}}-->
  <!--</div>-->
</template>