<template name="eventItem">
  <div class="panel panel-default">
    <div class="panel-heading">
        <ul class="panel-title pull-right">
          <span style="font-size:15pt;"><i class="glyphicon glyphicon-usd"></i>{{price}}</span>
          <span style="font-size:15pt;"><i class="glyphicon glyphicon-user"></i>{{aCount}}</span>
          {{#if isOwner}}
            {{#afModal class="glyphicon glyphicon-pencil" collection="CalEvent" operation="update" doc=_id}}
            {{/afModal}}
            {{#afModal class="glyphicon glyphicon-remove-circle" collection="CalEvent" operation="remove" doc=_id}}
            {{/afModal}}
          {{/if}}
        </ul>
      <h2 class="panel-title"> {{title}} <small>{{start}} {{end}}</small></h2>
    </div>
    <div class="panel-body">
      <p>{{description}}</p>
    </div>
    <div class="panel-footer">
      {{#if currentUser}}
       <!--Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#attend">
        Register
      </button>
      {{> modals}}
      {{else}}
      <p>Please log in to register.</p>
      {{/if}}

    </div>
  </div>
  <ul class="list-group">
    <h4>Attendees</h4>
    {{#each attendee}}
      {{> attendeesItem}}
    {{/each}}
  </ul>


</template>