<template name="eventItem">
  {{#animate type="fadeIn" delay="200"}}
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class='row'>
          <div class='col-xs-12'>
            <h4 class='pull-right'>
              <span>{{> dollarIcon}}{{customerPrice}}  </span>
              <span>{{> usersIcon}}{{aCount}}</span>
              {{> eventOwner}}
            </h4>
          </div>
        </div>
        <div class='row'>
          <div class='col-xs-12'>
            <h4><strong>{{title}}</strong> - <a href="{{link}}" role="button">{{ownerName}}</a> <strong><small>{{category}}</small></strong></h4>
          </div>
        </div>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <div class='row'>
            <div class='col-xs-6'>
              <h4><strong>Dates</strong></h4>
              <p><i>Start:</i> {{startDate}}</p>
              <p><i>End:</i> {{endDate}}</p>
            </div>
            <div class='col-xs-6'>
              <h4><strong>Location</strong></h4>
              <p>{{street}}</p>
              <p>{{city}}, {{state}}</p>
            </div>
          </div>
        </li>
      </ul>
      <div class='panel-body'>
        <div class="summernote">{{{description}}}</div>
      </div>
      <div class="panel-footer">
        {{#if currentUser}}
          {{#if timeRes}}
            {{#if canceled}}
              <h4>This class has been canceled</h4>
            {{else}}
            <button type="button" class="btn btn-success btn-sm form-control" data-toggle="modal" data-target="#attend">
              Register
            </button>
            {{/if}}
          {{else}}
           <h4>This class is in the past...unless you have a TARDIS, you cannot attend it!</h4>
          {{/if}}
        {{else}}
        <p>Please <a href="{{pathFor 'register'}}">signup/login</a> to register.</p>
        {{/if}}

      </div>
    </div>
    <ul class="list-group">
      <h3 class="text-center">{{attendeeList}}</h3>
      {{#each attendee}}
        {{> attendeesItem}}
      {{/each}}
    </ul>
  </div>
{{/animate}}

  <div class="modal fade" id="cancel" tabindex="-1" role="dialog" aria-labelledby="cancel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="cancel">New Class</h4>
        </div>
        <div class="modal-body">
          Cancel this class of {{totalAttendees}} attendee(s) and refund them?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary refund form-control" data-dismiss="modal">Yes, Refund Attendees</button>
        </div>
      </div>
    </div>
  </div>
</template>