<template name="eventItemList">
    <div class="panel panel-default">
      <div class="panel-heading">
          <ul class="panel-title pull-right ">
            <span style="font-size:15pt;"><i class="glyphicon glyphicon-usd"></i>{{price}}</span>
            {{#if isOwner}}
              {{#afModal class="mdi-content-create" collection="CalEvent" operation="update" doc=_id omitFields="owner"}}
              {{/afModal}}
              {{#afModal class="mdi-content-clear" collection="CalEvent" operation="remove" doc=_id}}
              {{/afModal}}
            {{/if}}
          </ul>
        <h2 class="panel-title"><a href="{{pathFor 'eventItem'}}"> {{title}} <small>{{start}} {{end}}</small></a></h2>
      </div>
      <div class="panel-body">
        <p>{{description}}</p>
      </div>
    </div>
</template>