<template name="eventItemList">
  {{#if noClass}}
    <div class="jumbotron">
      <center>
        <h3>No Class for You</h3>
        <h4>It seems we don't have classes that fit your criteria, please try a different category or try again in the near future.</h4>
      </center>
    </div>


  {{else}}
  <div class="container">
      <a href="{{#if cList}} # {{else}} /class/{{_id}} {{/if}}" onclick="{{#if cList}} window.open('{{{url}}}', '_system'); {{else}} {{/if}}" role='button' class="body-click">
      <span>
        <div class="panel panel-default">
      <div class="panel-heading">
        <div class='row'>
          <div class='col-xs-12'>
            <h4 class='pull-right'>
              <span>{{> dollarIcon}}{{customerPrice}}  </span>
              {{#if cList}}
              {{else}}
                <span>{{> usersIcon}}{{aCount}}</span>
              {{/if}}
              {{> eventOwner}}
            </h4>
          </div>
        </div>
        <div class='row'>
          <div class='col-xs-12'>
            <h4><strong>{{title}}</strong> - {{ownerName}} <strong><small>{{category}}</small></strong>
                {{#if isAvailableForVoting}}
                    <div class="pull-right">{{> stars}}</div>
                {{/if}}
            </h4>
          </div>
        </div>
      </div>

      <ul class="list-group">
        <li class="list-group-item">
          <div class='row'>
            <div class='col-xs-6'>
              <h4><strong>Dates</strong></h4>
                <p><i>Start:</i> {{startDate}}</p>
                {{#if endDate}}
                  <p><i>End:</i> {{endDate}}</p>
                {{/if}}
            </div>
            <div class='col-xs-6'>
              <h4><strong>Location</strong></h4>
              {{#if cList}}
                {{location}}
              {{else}}
                <p>{{street}}</p>
                <p>{{city}}, {{state}}</p>
              {{/if}}
            </div>
          </div>
        </li>
      </ul>
      <div class='panel-body'>
        <p>{{{description}}}</p>
      </div>
        <div>
            <hr>
            {{> reviewList}}
        </div>
          {{#if isAttendee}}
            <div class="panel-footer">
              {{#each attendee}}
                {{> attendeesItem}}
              {{/each}}
            </div>
          {{/if}}
        </div>
      </span>
    </a>
  </div>
  {{/if}}
</template>