<template name="eventSearch">

  {{#if loading}}
    <div class='container'>
      {{> spinner}}
    </div>
  {{/if}}

  {{#if empty}}
    <center>
      <h1>Start Searching</h1>
      <p>Your next interesting hobby, lessons or class is just around the corner</p>
    </center>
  {{/if}}

  {{#each classes}}
    <div>
      {{#transition in="fadeIn" out="fadeOut"}}
        <div class="animated out">
          {{> eventItemList}}
        </div>
      {{/transition}}
    </div>
  {{/each}}
</template>