<template name="myEvent">
  <div class="container">
    <div class='text-center'><h2>{{instructing}} {{count}} {{classes}}</h2>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>
            <i class="material-icons bulk">done_all</i>
            <i class="material-icons delete">delete</i>
          </th>
          <th>Title</th>
          <th>Date</th>
          <th>Attending</th>
        </tr>
      </thead>
      <tbody>
        {{#each calevent}}
          <tr>
            <td><span class='{{select}}'><i class="material-icons">{{checkbox}}</i></span></td>
            <td class='clickable-column'><a href="{{pathFor 'eventItem'}}">{{title}}</a></td>
            <td class='clickable-column'>{{startDate}}</td>
            <td class='clickable-column'>{{attending}}/{{attendeeCount}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>

