<template name="myEvent">
  <div class="container">
    <div class='text-center'><h2>{{instructing}} {{count}} {{classes}}</h2>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>
            <i class="material-icons bulk">done_all</i>
            <i class="material-icons delete">delete</i>
          </th>
          <th>Title</th>
          <th>Date</th>
          <th>Attending</th>
          <th>{{edit}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each calevent}}
          <tr>
            <td>
              <span role='button' class='{{select}}'><i class="material-icons">{{checkbox}}</i></span>
              
            </td>
            <td role='button' class='clickable-column'>{{title}}</td>
            <td role='button' class='clickable-column'>{{startDate}}</td>
            <td role='button' class='clickable-column'>{{attending}}/{{attendeeCount}}</td>
            <td>
              <span role='button'>
                {{#afModal  class="glyphicon glyphicon-pencil" collection="CalEvent" operation="update" doc=_id formId="updateClass" title="Edit Class"}}
                  {{/afModal}}
              </span>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>

