.right-arrow {
	display: inline-block;
	position: relative;
	background: #1a6ecc;
	padding: 15px;
  color: white;
}
.right-arrow:after {
	content: '';
	display: block;
	position: absolute;
	left: 100%;
	top: 10%;
	margin-top: -10px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #1a6ecc;
}

.blue-border {
  background: #1a6ecc;
	padding: 15px;
}
