.landing-header {
  padding-top: 15em;
  padding-bottom: 20em;
}
.white-bg {
  background-color: white;
}
.grey-bg {
  background-color: #CCC;
}

.bgi1{
    background: url(/images/bgi1.jpg);
    background-size: cover;
}

.bgi2{
    background: url(/images/photo-1449973405711-881157523e5a.jpg);
    background-size: cover;
}