.landing-header {
  padding-top: 15em;
  padding-bottom: 20em;
}
.white-bg {
  background-color: white;
}
.grey-bg {
  background-color: #f6f6f6;
}

.green-bg {
  background-color: #3FB618;
}

.black-bg {
  background-color: black;
  color: #f6f6f6;
}

.black-bg ul {
  padding-left: 15px;
}

.blue-bg {
  background-color: #1865bb;
  color: #f6f6f6;
}

.light-blue-bg {
  background-color: #3b8ce6;
}

.page-header {
    padding-bottom: 2em;
    margin: 16em 0 11em;
    text-align: center;
    border: none !important;

}

.page-header h1 {
  font-size: 4em;
  font-weight: 600;
  background-color: rgba(26, 110, 204,.5);
}

.page-header h2 {
  font-size: 3em;
  font-weight: 400;
  background-color: rgba(26, 110, 204,.5);
}

.page-header h3 {
  font-size: 1.8em;
  font-weight: 800;
  background-color: rgba(26, 110, 204,.5);

}

.page-header h4 {
  font-size: 1.6em;
  /*text-align: left !important;*/
}

.page-header h5 {
  font-size: 1.4em;
}

.page-header control-label {
  background-color: rgba(26, 110, 204,.5);
}

.icon-landing {
  width:100%;
  height:100%;
}

#rowbg1 {
  background:url(/images/bgi1.jpg);
  background-size: 100% auto;
  color: white;
}

#rowbg2 {
  background:url(/images/photo-1461344577544-4e5dc9487184.jpg);
  background-size: 100% auto;
  color: white;
}

#logo-img {
  height: 65px;
  margin: 0 auto;
  width: 165px;
}