.main {
  margin-top: 60px;
}

input[type="text"]
  {
      font-size:16px;
      text-align: center;
  }
input[type="number"]
  {
    font-size:16px;
    text-align: center;
  }
input[type="email"]
  {
    font-size:16px;
    text-align: center;
  }
input[type="password"]
  {
    font-size:16px;
    text-align: center;
  }
select
  {
    font-size:16px;
    text-align: center;
  }

body {
  background-color: #efefef !important;
  padding-bottom: 70px;
}

.navbar-nav {
  margin: 0px 0px !important;
}

.navbar-fixed-bottom {
  margin-bottom: -11px !important;
}