.main {
  margin-top: 50px;
  padding-bottom: 50px;
}

.footer {
  position: relative;
  bottom: -35px;
  color:white;
}

.footer a {
  color: white;
  font-size: 1.3em;
}

.footer a:hover {
  text-decoration:none;
}

.userType {
  text-decoration: none;
}

.search-box {
  padding-bottom: 7px;
  padding-top: 7px;
  background-color: #2780e3;
}

.panel {
  margin-top:10px;
  margin-bottom:10px !important;
}

input[type="text"]
  {
      font-size:16px;
      text-align: center;
  }
input[type="number"]
  {
    font-size:16px;
    text-align: center;
  }
input[type="email"]
  {
    font-size:16px;
    text-align: center;
  }
input[type="password"]
  {
    font-size:16px;
    text-align: center;
  }
select
  {
    font-size:16px;
    text-align: center;
  }

/*h1, .h1, h2, .h2, h3, .h3 {*/
/*    margin-top: 50px;*/
/*    margin-bottom: 10.5px;*/
/*}*/

.navbar-nav {
  margin: 0px 0px !important;
}

.body-click {
  color: black;
}

.body-click:hover {
  color: black;
  text-decoration:none;
}

.navbar-fixed-bottom {
  margin-bottom: -11px !important;
}