.main {
  margin-top: 50px;
  padding-bottom: 50px;
}

.footer {
  position: relative;
  bottom: -35px;
  color:white;
}

.footer a {
  color: white;
  font-size: 1.3em;
}

.footer a:hover {
  text-decoration:none;
}

.userType {
  text-decoration: none;
}

.search-box {
  padding-bottom: 7px;
  padding-top: 7px;
  background-color: #2780e3;
}

.panel {
  margin-top:10px;
  margin-bottom:10px !important;
}

input[type="text"]
  {
      font-size:16px;
      text-align: center;
  }
input[type="number"]
  {
    font-size:16px;
    text-align: center;
  }
input[type="email"]
  {
    font-size:16px;
    text-align: center;
  }
input[type="password"]
  {
    font-size:16px;
    text-align: center;
  }
select
  {
    font-size:16px;
    text-align: center;
  }

/*h1, .h1, h2, .h2, h3, .h3 {*/
/*    margin-top: 50px;*/
/*    margin-bottom: 10.5px;*/
/*}*/

.navbar-nav {
  margin: 0px 0px !important;
}

.body-click {
  color: black;
}

.body-click:hover {
  color: black;
  text-decoration:none;
}

.navbar-fixed-bottom {
  margin-bottom: -11px !important;
}

/*----- S T A R S ------*/

.rating {
  border: none;
  /* float: right;*/
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.5em;
  display: inline-block;
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

.stars-summary {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.stars-summary > * {
  text-align: center;
}
.stars-summary fieldset {
  margin: 0 auto;
  width: 86px;
  font-size: 1.2em;
}

/*-------- R E V I E W S --------*/
.review {
  padding: 10px 0;
}
.padding-left-hack {
  padding-left: 15px;
}
.align-left {
  text-align: left;
}