<template name="eventInsert">
  {{> wizard id="basic" steps=steps buttonClasses="btn btn-sm btn-success" stepsTemplate="steps"}}
</template>

<template name="recur">
  <div class="col-md-8 col-md-offset-2">
    {{#autoForm id="recur" doc=step.data schema=step.schema}}
      {{> afQuickField name="type"}}
      {{> afQuickField name="intervalNumber"}}
      {{> afQuickField name="intervalType"}}
      {{> afQuickField name="intervalStop"}}
      {{> wizardButtons}}
    {{/autoForm}}
  </div>
</template>

<template name="dates">
  <div class="col-md-8 col-md-offset-2">
    {{#autoForm id="dates" doc=step.data schema=step.schema}}
      {{> afQuickField name="start"}}
      {{> afQuickField name="end"}}
      {{> wizardButtons}}
    {{/autoForm}}
  </div>
</template>

<template name="steps">
  <nav class="navbar-nav">

      <div class="btn-group-sm btn-group-justified" role="group">
        {{#each wizard.steps}}
          <a class="btn btn-info">{{title}}</a>
        {{/each}}
      </div>
  </nav>
</template>
