<template name='about'>
  <div class="parallax-100" style="background-image:url(/images/43128318_l.jpg)">
    <div class='container'>
      <div class='container'>
        <div class='row'>
          <h1>Our Company</h1>
          <h3>CLASS was created as a result of one couple’s passion for learning together as they were looking to make each and every date an exciting, rewarding and stress-free experience.</h3>
        </div>
        <div class='row'>
          <div class='col-md-9'>
            <h3><i>My wife and I got tired of going on the same old dates, (i.e. dinner and a movie) and we love taking lessons and learning new things together. It is always such a challenge to find good companies or individual instructors that provide classes and even when you do, it is usually a pain to fill out all the forms, and everyone has a different method of accepting payment. We decided that if we were looking for more exciting dates, other couples must be as well. That’s how CLASS was born!
            </i></h3>
          </div>

          <div class='col-md-3'>
            <img src="/images/Samantha (16).jpg" alt="..." class="img-responsive">
            <h3><i>Brad Trapp</i></h3>
            <p>Founder of CLASS</p>
          </div>

        </div>
        <div style='color:white'>
          <h4><i>CLASS is based in Bellbrook, Ohio and operates nationwide.</i></h4>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="parallax-30em" style="background-image:url(/images/missionpeak.jpg)"></div> -->
  <div class="parallax-100" style="background-image:url(/images/paper-airplanes-background.jpg)">
    <div class='container-fluid' >
      <div class='container'><b>
        <h1>Our Philosophy</h1>
        <h3>Our philosophy is simple:</h3>
        <h3 align='center'><i><b>Learning is an adventure that should be shared.</b></i></h3>
        <h3>Our hope is that CLASS helps you find your next hobby, or encourages you to share your passion by leading your own class.</h3>
        <h3>We believe in creating communities of like-minded people – learning should be social – it’s part of the fun.</h3>
      </b></div>
    </div>
  </div>


  <div class='container-fluid black-bg'>
    <div class='container'>
      <h1>Our Mission</h1>
      <h3>To maintain a platform that makes it fun and easy for anyone to find and attend local classes, lessons and activities, while allowing professional and amateur instructors to easily set up classes, streamline registration and automate payments.</h3>
    </div>
  </div>

  <div class='container-fluid blue-bg'>
    <div class='container'>
      <h1>Our Vision</h1>
      <h3>To have a wide array of well-attended classes available in every corner of the United States, providing an opportunity for attendees to improve their quality of life by learning new things and participating in enjoyable and rewarding activities, while simultaneously providing freelance instructors and small businesses with a way to grow their businesses and make more money.</h3>
    </div>
  </div>



  <div class='container'>
    <div class='container'>
      <h1>Our Core Values</h1>
      <h3>To have a wide array of well-attended classes available in every corner of the United States, providing an opportunity for attendees to improve their quality of life by learning new things and participating in enjoyable and rewarding activities, while simultaneously providing freelance instructors and small businesses with a way to grow their businesses and make more money.</h3>
    </div>
  </div>
</template>
