<template name='affiliate'>
  <div class='container'>
    <h1>
      Our Affiliate Program
    </h1>
    <h4>
      So you're interested in becoming an affiliate of ours? Well that's just great! Our affiliate program is one of the best in the industry, 1% of every transaction associated with your affiliate ID goes to you, forever. The more people you bring in, the more residual revenue you generate for yourself.
    </h4>
    <h2>Here's how it works:</h2>
    <h4>You send people to us, through a link we provide you with, then every class they pay for 1% goes to you. That sounds small, but it can add up quickly. Here's the real awesome part, if you sign up a business, freelancer or instructor that takes payments, everyone who signs up through them and is not already using the app will also be associated with you.</h4>
    <h2>Payout Schedule</h2>
    <h4>We payout on the last day of the month, for all transactions that occured that month. Pretty simple right?</h4>
    <h2>Email us for more information: support@joinclass.co</h2>

  </div>

</template>