<template name="betaLanding">
  <div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="container">
          <h1>Cloud-based class registration, payment, and attendence.</h1>
          <h3>A simple and effective tool that makes registering and paying for any type of class fast and easy.</h3>
          <a href='{{pathFor "register"}}' class="btn btn-success btn-lg">Register Now</a>
        </div>
      </div>
    </div>
    <div class="page-header">
      <div class="row">
        <div class="container">
          <h3>What is Class?</h3>
          <h2>Simple App That Makes Your Life Easier</h2>
          <h4>Class is an online and mobile platform designed to take care of admin and registration of classes. Classes are any type of event that has an instructor, requires registration, and scheduling.</h4>
        </div>
      </div>
    </div>
    <div class="page-header">
      <div class="row">
        <div class="container">
          <h3>Is it free?</h3>
          <h2>Free To Use For Everyone</h2>
          <h4>Every user has the ability to post classes, just not accept money through our platform. So there is your free trial! So if you are interested in what Class has to offer, sign-up play around with our app and if you want to start accepting money directly, fill-out a short form and presto! You are ready to be in business!</h4>
        </div>
      </div>
    </div>
    <div class="page-header">
      <div class="row">
        <div class="container">
          <div class=col-md-6>
            <h3>Class for Businesses & Freelancers:</h3>
            <h2>Class makes the registration process super easy.</h2>
            <h4>We know running your business isn't easy. There are dozens of tasks that have to be done every day. We want to make your life easier and make that list of "stuff-to-do" shorter. So you can stop focusing on things that aren't meaningful, so you can start teaching what you love.</h4>
            <h4>Streamline your operations, make it simple to register and pay for your classes.  No matter if you have a yoga studio, or if you teach woodworking on the side. Class makes it easy to run your business.</h4>
            <a href='{{pathFor "register"}}' class="btn btn-success btn-lg">Register Now</a>
          </div>
          <div class='col-md-6'>
            <img src="/images/smartphone2_506x970.jpg" height="75%" width="75%">
          </div>
        </div>
      </div>
    </div>
    <div class="page-header">
      <div class="row">
        <div class="container">
          <div class='col-md-6'>
            <img src="/images/ipad_696x1042.jpg" height="100%" width="100%">
          </div>
          <div class=col-md-6>
            <h3>Class for Learners:</h3>
            <h2>Heading</h2>
            <h4>Text</h4>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="page-header">-->
    <!--  <div class="row">-->
    <!--    <h3>Class for Students:</h3>-->
    <!--    <h2>Heading</h2>-->
    <!--    <h4>Text</h4>-->
    <!--  </div>-->
    <!--</div>-->
    <div class="page-header">
      <div class="row">
        <div class="container">
          <div class=col-md-6>
            <h3>How do payments work and is it safe?</h3>
            <h2>Heading</h2>
            <h4>Text</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>