<template name="betaLanding">
  <div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="container">
          <h1>Cloud-based class registration, payment, and attendence app.</h1>
          <h3>A simple and effective tool that makes registering and paying for any type of class fast and easy.</h3>
          <a href='{{pathFor "register"}}' class="btn btn-success btn-lg">Register Now</a>
          <div class='row'>
            <div align='right'>
              <img src="/images/comingsoon.png" height="100px" width="135px">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-header">
      <div class="row">
        <div class="container">
          <div class='col-md-6 col-md-offset-3'>
            <img src="/images/imacleft_790x926.jpg" height="100%" width="100%">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="container">
          <h3>What is Class?</h3>
          <h2>Simple App That Makes Your Life Easier</h2>
          <h4>Class is an online and mobile platform designed to take care of admin and registration of classes. Classes are any type of event that has an instructor, requires registration, and scheduling.</h4>
        </div>
      </div>
    </div>
    <div class="page-header">
      <div class="row">
        <div class="container">
          <div class='col-md-6 col-md-offset-3'>
            <img src="/images/macbookprolt_1552x876.jpg" height="100%" width="100%">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="container">
          <h3>Is it free?</h3>
          <h2>Free To Use For Everyone</h2>
          <h4>Every user has the ability to post classes, just not accept money through our platform. So there is your free trial! So if you are interested in what Class has to offer, sign-up play around with our app and if you want to start accepting money directly, fill-out a short form and presto! You are ready to be in business!</h4>
        </div>
      </div>
    </div>
    <div class="page-header">
      <div class="row">
        <div class="container">
          <div class=col-md-6>
            <h3>Class for Businesses & Freelancers:</h3>
            <h2>Class makes the registration process super easy.</h2>
            <h4>We know running your business isn't easy. There are dozens of tasks that have to be done every day. We want to make your life easier and make that list of "stuff-to-do" shorter. So you can stop focusing on things that aren't meaningful, so you can start teaching what you love.</h4>
            <h4>Streamline your operations, make it simple to register and pay for your classes.  No matter if you have a yoga studio, or if you teach woodworking on the side. Class makes it easy to run your business.</h4>
            <a href='{{pathFor "register"}}' class="btn btn-success btn-lg">Register Now</a>
          </div>
          <div class='col-md-6'>
            <img src="/images/smartphone2_506x970.jpg" height="60%" width="60%">
          </div>
        </div>
      </div>
    </div>
    <div class="page-header">
      <div class="row">
        <div class="container">
          <div class='col-md-6'>
            <img src="/images/iphone5standinglt_429x1134.jpg" height="50%" width="50%">
          </div>
          <div class=col-md-6>
            <h3>Class for Learners:</h3>
            <h2>Simple Registration for ALL</h2>
            <h4>We love taking classes, whether it be dance lessons, woodworking, or the local coding bootcamp. So we understand the difficulty of finding, registering, and scheduling classes. So, we took the pain out of filling out forms.</h4>
            <h4>Fill-out your profile, add a credit card, after all that is finsihed. Every class you sign-up for is two-click-registration. You find the class you want to take then click register, make sure the registration details are correct and click register again. <strong>BOOM!</strong> No more forms, no more waiting, no more extra work to learn something!</h4>
            <a href='{{pathFor "register"}}' class="btn btn-success btn-lg">Register Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="page-header">
      <div class="row">
        <div class="container">
          <div class=col-md-6>
            <h3>How do payments work and is it safe?</h3>
            <h2>Super-Simple and Secure</h2>
            <h4>Class wants to be as transparent as possible. We mark-up the price of classes by 10%, that's it. You host a class, set the fee and that's what you get at the end of the week. Students, you pay the advertized price of the class. That's it no extra math or work.</h4>
            <h4>We're powered by <a href='https://stripe.com/connect/account-terms' target="_blank">Stripe</a>, that means we don't see any senstive data, no bank account information, no credit card information. Stripe stores all the senstive information. If you have any concerns please look at our <a href="{{pathFor 'terms'}}">terms of service</a> please email us: support@joinclass.co</h4>
          </div>
          <div class='col-md-6'>
            <img src="/images/Screen_Shot_2016-02-17.png" height="50%" width="50%">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>