<template name='company'>
  <div class='page-header'>
    <div class='container'>
      <h1>Class</h1>
      <h4>Class was founded on the idea that it should be simple to learn anything. Sure there is youtube and google for searching, but there is nothing like having an expert show you the ropes in person. Whether it be coding or horse-back riding, professional instructor can not be replaced by an online video or course.</h4>
      <h4>We love to learn new things, and we got frustrated with always filling out forms, organizing payment arrangments, and the whole process of finding a class that fit our needs.</h4>
      <h4>
        
      </h4>
   </div>
  </div>
</template>