<template name='company'>
  <div class='container'>
    <div class='page-header'>
    
      <h1>Class</h1>
      <h4>Class was founded on the idea that it should be simple to learn anything. Sure there is youtube and google for searching, but there is nothing like having an expert show you the ropes in person. Whether it be coding or horse-back riding, professional instructor can not be replaced by an online video or course.</h4>
      <h4>We love to learn new things, and we got frustrated with always filling out forms, organizing payment arrangments, and the whole process of finding a class that fit our needs. We are continually striving to make this app better for everyone who wants to instruct or learn something new.</h4>
      <h3>
        Our goal is to connect any student, of any age, with an expert instructor in any field of interest. We know this is a lofty goal, but we are dedicated to get everyone the lessons they deserve.
      </h3>
   </div>
  </div>
  {{> footer}}
</template>