<template name='footer'>
  <div class=container-fluid>
    <div class='row black-bg'>
      <div class='container'>
        <div class='col-md-4'>
          <h2>About Us</h2>
          <ul>
            <li><a href='{{pathFor "company"}}'>The Company</a></li>
            <!--<li>The Mission</li>-->
            <!--<li>Our Team</li>-->
            <li><a href="{{pathFor 'affiliate'}}">Affiliate Program</a></li>
          </ul>
        </div>
        <!--<div class='col-md-4'>-->
        <!--  <h2>Homeschool & Churches</h2>-->
        <!--  <ul>-->
        <!--    <li>Coops & Gatherings</li>-->
        <!--    <li>Our Education Goals</li>-->
        <!--  </ul>-->
        <!--</div>-->
        <div class='col-md-4'>
          <h2>Additional Info</h2>
          <ul>
            <!--<li>Features</li>-->
            <!--<li>FAQ</li>-->
            <li><a href="{{pathFor 'terms'}}">Terms of Service</a></li>
            <!--<li>Privacy</li>-->
            <li>Contact Us at support@joinclass.co</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>