<template name='footer'>
  <div class='row black-bg'>
    <div class='container'>
      <div class='col-md-4'>
        <h2>About Us</h2>
        <ul>
          <li>The Company</li>
          <li>The Mission</li>
          <li>Our Team</li>
          <li>Affiliate Program</li>
        </ul>
      </div>
      <div class='col-md-4'>
        <h2>Homeschool & Churches</h2>
        <ul>
          <li>Coops & Gatherings</li>
          <li>Our Education Goals</li>
        </ul>
      </div>
      <div class='col-md-4'>
        <h2>Additional Info</h2>
        <ul>
          <li>Features</li>
          <li>FAQ</li>
          <li>Terms of Service</li>
          <li>Privacy</li>
          <li>Contact Us</li>
        </ul>
      </div>
    </div>
  </div>
</template>