<template name="how">
  <div class="container-fluid grey-bg">
    <div class="container " align='center'>
      <div class="row">
      <h1>HOW IT WORKS</h1>
      <h2>Learners</h2>
      <div class="col-md-3">
        <div class="right-arrow">
          <img src="/images/profile.png" alt="..." class="img-responsive">
        </div>
        <h3>1. Create a profile</h3>

      </div>
      <div class="col-md-3">
        <div class="right-arrow">
          <img src="/images/credit.png" alt="..." class="img-responsive">
        </div>
        <h3>2. Add a credit card</h3>

      </div>
      <div class="col-md-3">
        <div class="right-arrow">
          <img src="/images/search.png" alt="..." class="img-responsive">
        </div>
        <h3>3. Explore exciting classes in your area</h3>

      </div>
      <div class="col-md-3">
        <div class="right-arrow">
          <img src="/images/register.png" alt="..." class="img-responsive">
        </div>
        <h3> 4. Find something you like? Just click register and confirm your registration in
                  the next step – you don’t have to fill out any lengthy forms or share your
                  life story!</h3>

      </div>
    </div>
      <div class="row">
        <div class="col-md-3 col-md-offset-2">
          <div class="right-arrow">
            <img src="/images/attendees.png" alt="..." class="img-responsive">
          </div>
          <h3>5. We securely charge the class fee to your credit card on file via Stripe and
            you are ready to attend!</h3>

        </div>
        <div class="col-md-3">
          <div class="right-arrow">
            <img src="/images/review.png" alt="..." class="img-responsive">
          </div>
            <h3>6. Attend the class and leave a review</h3>

        </div>
        <div class="col-md-3">
          <div class="blue-border">
            <img src="/images/attending.png" alt="..." class="img-responsive">
          </div>
          <h3>7. Rinse and repeat</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="container" align="center">
    <div class="row">
      <h1>Instructors</h1>
      <div class="col-md-3">
        <div class="right-arrow">
          <img src="/images/business.png" alt="..." class="img-responsive">
        </div>
        <h3>1. Create a profile.</h3>

      </div>
      <div class="col-md-3">
        <div class="right-arrow">
          <img src="/images/createClass.png" alt="..." class="img-responsive">
        </div>
        <h3>2. Create a class. Name your class, set date, location and price. CLASS does
          not charge you any fees to use our platform. We add a 10% markup to your
          fee and the total fee is what Learners see and pay. The fee you set is the
          fee you get.</h3>

      </div>
      <div class="col-md-3">
        <div class="right-arrow">
          <img src="/images/share.png" alt="..." class="img-responsive">
        </div>
        <h3>3. Tell people about your class! Share it on your social media pages, email
          past students and tell your friends.</h3>

      </div>
      <div class="col-md-3">
        <div class="right-arrow">
          <img src="/images/attendees.png" alt="..." class="img-responsive">
        </div>
        <h3>4. Watch the registrations come in. You’ll get a notification and an email
          when someone registers.</h3>

      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <div class="right-arrow">
          <img src="/images/email.png" alt="..." class="img-responsive">
        </div>
          <h3>5. Teach your class. Be sure to notify your Learners if your schedule changes
          or you end up using a different venue.</h3>
      </div>

      <div class="col-md-3">
        <div class="blue-border">
          <img src="/images/schedule.png" alt="..." class="img-responsive">
        </div>
          <h3>6. Get paid weekly. We deposit your paycheck right into the bank account on
          file every Friday.</h3>

      </div>
    </div>
  </div>
</template>
