<template name="landing">
  <div class="container-fluid">
    <div class="row">
      <div class='col-md-6 bgi1'>
        <div class="col-md-8 col-md-offset-4 landing-header" align="right">
            <h1>
            <strong>Find your next hobby, lesson, or class by a local instructor</strong>
          </h1>
          <div class='btn btn-success btn-lg'>
            Find a Class
          </div>
        </div>
      </div>

      <div class='col-md-6 bgi2'>
        <div class="col-md-8 landing-header">
          <h1 align="left">
            <strong>Extremely easy class management, registering, and payment acceptance</strong>
          </h1>
          <div class='btn btn-primary btn-lg'>
            Start Instructing
          </div>
        </div>
    </div>

    </div>

    <div class='row white-bg'>
      <div class='container'>
        <h1 align='center' >
          - <strong>How it Works for <span class='btn btn-primary btn-lg userType'><strong>{{userType}}</strong></span></strong> -
        </h1>
        <div class='col-md-4'>
          <h2 align='center'>Step: 1</h2>
        </div>
        <div class='col-md-4'>
          <h2 align='center'>Step: 2</h2>
        </div>
        <div class='col-md-4'>
          <h2 align='center'>Step: 3</h2>
        </div>
      </div>
    </div>


    <div class='row grey-bg'>
      <div class='container'>
        <div class='col-md-6'>
          <h3 align='center'><strong>Features</strong></h3>
        </div>
         <div class='col-md-6'>
          <h3 align='center'><strong>Benefits</strong></h3>
        </div>
      </div>
    </div>


  </div>
</template>