<template name="landing">
  <div class="container-fluid">
    <div class="row" id="grad1">
      <div class='container-fluid landing-header' align='center'>
        <div class="row" >
          <div class="col-sm-8 col-sm-offset-2">
            <h1>
              <strong>
                {{headline}}
              </strong>
            </h1>
            <h2>
              {{subtext}}
            </h2>
          </div>
        </div>
        <div class="row">
          <p>
            <a class="btn btn-primary btn-xs student">Students & Athletes</a>
            <a class="btn btn-primary btn-xs instructor">Instructors</a>
            <a class="btn btn-primary btn-xs home">Home Schoolers</a>
          </p>
        </div>
        <div class='row'>
          <a href='{{pathFor "register"}}' class="btn btn-success btn-lg">Register Now</a>
        </div>
      </div>
    </div>

    <div class='row white-bg'>
      <div class='container' align='center'>
        <h1 align='center' >
          - <strong>How it Works for <span class='userType'><strong>{{userType}}</strong></span></strong> -
        </h1>
        <h2 align='center'>
          {{subtext2}}
        </h2>
          <div class='col-md-4'>
            <h4>Step: 1</h4>
            <h3>
              {{step1}}
            </h3>
          </div>
          <div class='col-md-4'>
            <h4>Step: 2</h4>
            <h3>
              {{step2}}
            </h3>
          </div>
          <div class='col-md-4'>
            <h4>Step: 3</h4>
            <h3>
              {{step3}}
            </h3>
          </div>
      </div>
    </div>

    <div class='row grey-bg'>
      <div class='container'>
        <div class='col-md-8'>
          <h3 align='center'><strong>Features</strong></h3>
        </div>
         <div class='col-md-4'>
          <h3 align='center'><strong>Benefits</strong></h3>
        </div>
        <div class='col-md-4'>
          <h3 align='center'><strong>Features</strong></h3>
        </div>
         <div class='col-md-8'>
          <h3 align='center'><strong>Benefits</strong></h3>
        </div>
        <div class='col-md-4'>
          <h3 align='center'><strong>Features</strong></h3>
        </div>
         <div class='col-md-8'>
          <h3 align='center'><strong>Benefits</strong></h3>
        </div>
        <div class='col-md-4'>
          <h3 align='center'><strong>Features</strong></h3>
        </div>
         <div class='col-md-8'>
          <h3 align='center'><strong>Benefits</strong></h3>
        </div>
      </div>
    </div>

    <div class='row' id="grad2">
      <div class='container'>
        <h1 align='center'>Pricing and Payments</h1>
        <h3>Class is free to join, free to use and we only collect fees when money exchanges hand. We mark-up the transaction by 5%, but you don't have to do any math</h3>
        <div class="row">
          <div class='col-md-3 '>
            <div class="panel panel-default">
              <div class="panel-body">
                Toaster
              </div>
            </div>
          </div>
          <div class='col-md-3 '>
            <div class="panel panel-default">
              <div class="panel-body">
                Toaster
              </div>
            </div>
          </div>
          <div class='col-md-3 '>
            <div class="panel panel-default">
              <div class="panel-body">
                Toaster
              </div>
            </div>
          </div>
          <div class='col-md-3 '>
            <div class="panel panel-default">
              <div class="panel-body">
                Toaster
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</template>