<template name="landing">

  <div class='parallax-100' style="background-image:url(/images/Landing.png)">
    <div class='container'>
      <div class='row page-header'>
        <h2>CLASS is an in-person lessons marketplace that makes taking and teaching classes easy and fun.</h2>
        <h3>Explore different hobbies and interests or share your passion by leading your own class!</h3>
      </div>
    </div>
    <div class='container-fluid'>
      <div class='row black-bg'>
        <div class='col-md-6 col-md-offset-2'>
          <div class="form-inline">
            {{#autoForm collection="Search" id="searchLanding"}}
              {{> afQuickField name="zip" autocomplete="off"}}
              {{> afQuickField name="radius" autocomplete="off"}}
              <button type="submit" style="margin-bottom:10px" class="btn btn-success search" role='button'>Search</button>
            {{/autoForm}}
          </div>
        </div>
        <div class='col-md-3'>
          <button href='/register' class='btn btn-warning'>CREATE A CLASS</button>
        </div>
      </div>
    </div>
  </div>



  <div class='container' align='center'>
    INSERT CAROUSEL HERE: FEATURED CLASSES
    <div align='center'>{{>iOS}}{{>android}}</div>
    <h2>Simple</h2>
    <h3>Create an account and register for a class in seconds
    OR
    Create a class and wait for registrations to come in – no legwork, to syncing payment accounts, no forms!</h3>
    <h2>Safe</h2>
    <h3>Sleep well! Our payment platform is powered by Stripe - we don’t store any of your sensitive information. Neither do your instructors.</h3>
    <h2>Transparent</h2>
    <h3>No membership fees for Learners, no silly costs for instructors. Instructors set class registration fee, we add 10% and advertise the class for that price. Learners – simply pay the advertised price. No extra math for anyone!</h3>
  </div>

  <!-- <div class="parallax-landing-1"></div> -->

  <div class='container-fluid blue-bg parallax-100' style="background-image:url(/images/36814218_l.jpg)" align='center'>
    <div class='container'>
      <div class='row'>
        <h1><b>WHO IS CLASS FOR</b></h1>
        <h3>Class was created for inquisitive, curious, social people who love to learn and try new things AND for passionate folks who want to share what they know and love to do.</h3>
        <div class='row'>
          <h2><b>Our learners</b></h2>
          <div class='col-md-4' >
            <img src="/images/42371407_l.jpg" alt="..." class="img-responsive">

              <h3>couples looking for a fun date</h3>


          </div>

          <div class='col-md-4'>
            <img src="/images/25271914_l.jpg" alt="..." class="img-responsive">

              <h3>homeschoolers</h3>


          </div>

          <div class='col-md-4'>
            <img src="/images/11337162_l.jpg" alt="..." class="img-responsive">

              <h3>active retirees who enjoy exploring new things</h3>

          </div>

          <div class='col-md-4'>
            <img src="/images/3204418_l.jpg" alt="..." class="img-responsive">

              <h3>friends searching for a nontraditional night out</h3>


          </div>

          <div class='col-md-4'>
            <img src="/images/41728361_l.jpg" alt="..." class="img-responsive">

              <h3>singles seeking a fun way to meet new people</h3>


          </div>

          <div class='col-md-4'>
            <img src="/images/21090360_l.jpg" alt="..." class="img-responsive">

              <h3>Parents and kids who want to learn something together</h3>

          </div>
        </div>
      </div>
    </div>
  </div>
    <div class='container-fluid' align='center'>
      <div class='container'>
        <div class='row'>
          <h2><b>Our instructors</b></h2>

          <div class='col-md-4'>
            <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS7L7B9Z6hga8aa_nsVrQz_54NL397SDKl5LFCsl1r0KUgG1eOMWQ" alt="..." class="img-responsive">
            <h3>Tutors, musicians, personal trainers, artists, artisans, business and life coaches and other business owners who teach classes for a living</h3>
          </div>

          <div class='col-md-4'>
            <div >
              <img src="/images/32489180_l.jpg" alt="..." class="img-responsive">
            </div>
            <h3>Freelancers who teach classes on the side</h3>
          </div>

          <div class='col-md-4'>
            <div >
              <img src="/images/50414648_l.jpg" alt="..." class="img-responsive">
            </div>
            <h3>People who have never taught a class in the past but are passionate about something and want to share their passion</h3>
          </div>
        </div>
      </div>
    </div>


  <div class='container-fluid parallax-100' style="background-image:url(/images/watercolor-paper.jpg)">
    <div class='container'>
      <h1 align='center'><b>HOW WE ARE DIFFERENT</b></h1>
      <div class='row'>
        <div class='col-md-5 col-md-offset-1'>
          <h3><b>We believe learning should be social.</b> We don’t list weddings, parties or family reunions and although we offer both private and group activities, we feature more group classes than other platforms. All of our classes are in person.</h3>
        </div>
        <div class='col-md-5'>
          <img src="/images/45183318_l.jpg" alt="..." class="img-responsive">
        </div>
      </div>
      <div class='row'>
        <div class='col-md-5 col-md-offset-1'>
          <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS7L7B9Z6hga8aa_nsVrQz_54NL397SDKl5LFCsl1r0KUgG1eOMWQ" alt="..." class="img-responsive">
        </div>
        <div class='col-md-5'>
          <h3><b>We believe taking and teaching classes should be easy.</b> We worked hard on making CLASS simple to use for both Learners and Instructors by creating a platform with Less forms, Less time, More security.</h3>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-5 col-md-offset-1'>
          <h3><b>We believe exploring classes should be fun.</b> We encourage cool and unusual classes that you may not find on other platforms.</h3>
        </div>
        <div class='col-md-5'>
          <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS7L7B9Z6hga8aa_nsVrQz_54NL397SDKl5LFCsl1r0KUgG1eOMWQ" alt="..." class="img-responsive">
        </div>
      </div>
      <div  align='center'><a href='/register' class='btn btn-success' style='margin-bottom:25px; margin-top:25px'>CREATE MY FIRST CLASS</a></div>
    </div>
  </div>

  <div class='container'>
    <div class='row' align=center>
      <h1><b>HOW IT WORKS</b></h1>
      <div class='col-md-6'>
        <h2>Learners</h2>
        <h3>Create a profile, add a credit card and explore exciting classes in your area.</h3>
        <h3>When you find something you like, just click register, confirm registration and you are ready to attend!</h3>
        <h3>The fee for each class is securely charged to your credit card on file via Stripe.</h3>
      </div>
      <div class='col-md-6'>
        <h2>Instructors</h2>
        <h3>Name your class, set date and location, name your price and wait for registration to come in!</h3>
        <h3>Teach your class and get paid at the end of the week.</h3>
        <h3>CLASS does not charge you any fees to use our platform. We add a 10% markup to your fee and the total fee is what Learners see and pay.</h3>
      </div>
    </div>
  </div>
</template>
