<template name='teach'>
  <div id='rowbg1'>
    <div class='container'>
      <div class='row'>
        <div class='page-header'>
            <h1>Teach a CLASS!</h1>
            <h2>Getting started is easy!</h2>
        </div>
      </div>
    </div>
  </div>

  <div class='container' align='center'>
    <div class='row'>
      <div  align='center'><a href='/register' class='btn btn-success' style='margin-top:25px;'>CREATE MY FIRST CLASS</a></div>
      <h3>It’s FREE!</h3>
    </div>
  </div>

  <div class='container'>
    <h1 align='center'>
      WHY TEACH A CLASS
    </h1>
    <h2>Share your passion</h2>
    <h3>Whether you’ve never led a class or you do it for a living, there is certain magic in teaching others what you know, and sharing what you love. Become an instructor with CLASS and prepare for an exciting and rewarding journey!</h3>
    <h2>Build brand awareness</h2>
    <h3>If you run a teaching, tutoring, coaching, consulting or personal training business, using CLASS provides an opportunity to build your brand and reach students/clients you wouldn’t reach otherwise.</h3>
    <h2>Make money</h2>
    <h3>CLASS focuses on group lessons. What this means for you is one hour worked does not equal one hour paid. Our instructors typically make over $150 per class.</h3>
  </div>

  <div class='container-fluid blue-bg'>
    <div class='container'>
      <div class='row'>
        <h1 align='center'>WHY USE CLASS</h1>
        <h2>Complete Security</h2>
        <h3>We are powered by Stripe and don’t store any of your students’ sensitive information, which means you don’t have to take responsibility for safeguarding their credit card numbers.</h3>
        <h2>Easy class management</h2>
        <h3>We take care of registration – all you have to do is set date and location and our Learners can register for your class within seconds.</h3>
        <h2>Weekly pay</h2>
        <h3>You set the price of each class, our Learners pay us when they register for your class and we pay you at the end of the week.</h3>
        <div  align='center'><a href='/register' class='btn btn-success' style='margin-bottom:25px;'>CREATE MY FIRST CLASS</a></div>
      </div>
    </div>
  </div>

  <div class="parallax-faq">
    <div class='container'>
      <div class='row'>
        <div class='col-md-10 col-md-offset-1'>
          <h1 align='center'>FAQ</h1>
          <div class="panel-group" id="accordion">
            <div class="panel panel-primary">
              <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1" role='button'>
                <h4 class="panel-title"><b>
                  Is there a limit on the number of Classes I can create?
                </b></h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">Nope, we don’t impose limits. We strive to make Class as simple as possible. </div>
              </div>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse2" role='button'>
                <h4 class="panel-title"><b>
                  Is there a limit on the number of students that can register for each Class?
                </b></h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">Again, no. We want you to be successful and student limits would in turn limit your potential.</div>
              </div>
            </div>

            <div class="panel panel-primary">
              <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse3" role='button'>
                <h4 class="panel-title"><b>
                  Do you help promote my Classes?
                </b></h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">We will promote classes via our email list to Learners that we think may be interested in your offering. Your Class will also appear in our Featured Classes section. No other promotional opportunities are available at this time. Please see our Instructors’ Blog for tips on how to make your Class a success.</div>
              </div>
            </div>

            <div class="panel panel-primary">
              <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse4" role='button'>
                <h4 class="panel-title"><b>
                  Do I have to have my own venue?
                </b></h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">Yes, you do. We <b>do not</b> provide venues. Our focus is on giving you and your Learners a stress-free experience. Incorporating a vendor market would complicate things quite a bit, and we cannot in good faith provide a great experience to everyone at this time.</div>
              </div>
            </div>

            <div class="panel panel-primary">
              <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse5" role='button'>
                <h4 class="panel-title"><b>
                  What do I do if I don’t have enough students registered to justify running the Class?
                </b></h4>
              </div>
              <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">You can cancel your Classes any time before the start of the Class. All registered Learners will be notified and refunded if they were charged. If you wish to cancel the Class due to zero sign-ups, cancelling will simply close the registration.</div>
              </div>
            </div>

            <div class="panel panel-primary">
              <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse6" role='button'>
                <h4 class="panel-title"><b>
                  Can students leave reviews after I teach a Class?
                </b></h4>
              </div>
              <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body">We are currently working on this feature. No release date is available at this time. Please stay tuned and check our blog or subscribe to our newsletter to be notified when it is available.</div>
              </div>
            </div>

            <div class="panel panel-primary">
              <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse7" role='button'>
                <h4 class="panel-title"><b>
                  Can I ban a student?
                </b></h4>
              </div>
              <div id="collapse7" class="panel-collapse collapse">
                <div class="panel-body">As of right now, this is not a feature we are working on. If there is enough demand and reason for this feature, we will make it a priority. </div>
              </div>
            </div>

            <div class="panel panel-primary">
              <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse8" role='button'>
                <h4 class="panel-title"><b>
                  How and when do I get paid?
                </b></h4>
              </div>
              <div id="collapse8" class="panel-collapse collapse">
                <div class="panel-body">When you register your business with us, you supply us with your bank account information. Your earnings will be deposited directly into the account on file every Friday. </div>
              </div>
            </div>

            <div class="panel panel-primary">
              <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse9" role='button'>
                <h4 class="panel-title"><b>
                  Will you send me a 1099?
                </b></h4>
              </div>
              <div id="collapse9" class="panel-collapse collapse">
                <div class="panel-body">You will receive a 1099-K from us if your account hits certain thresholds (determined by the IRS). More information can be found in <a href=' https://support.stripe.com/questions/will-i-receive-a-1099-k-and-what-do-i-do-with-it '>Stripe’s documentation.</a></div>
              </div>
            </div>

            <div class="panel panel-primary">
              <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse10" role='button'>
                <h4 class="panel-title"><b>
                  Can students request a refund after the Class?
                </b></h4>
              </div>
              <div id="collapse10" class="panel-collapse collapse">
                <div class="panel-body">Students can withdraw from the Class any time prior to 8 hours before the start of the Class. After that time, a Learner can send a request directly to the Instructor who can refund the Learner at any time.</div>
              </div>
            </div>

            <div class="panel panel-primary">
              <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse11" role='button'>
                <h4 class="panel-title"><b>
                  Can I contact my students via CLASS?
                </b></h4>
              </div>
              <div id="collapse11" class="panel-collapse collapse">
                <div class="panel-body">You can directly email anyone who has signed up for your one of your Classes - past or future. You cannot, however, email our entire user database, targeted or otherwise. We hold our users’ privacy very dear, so we limit access to communication to our users.</div>
              </div>
            </div>

            <div class="panel panel-primary">
              <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse12" role='button'>
                <h4 class="panel-title"><b>
                  Do I have to pay anything?
                </b></h4>
              </div>
              <div id="collapse12" class="panel-collapse collapse">
                <div class="panel-body">No, we don’t charge fees for anything. See our “How it works” page for information on how we get paid.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
