<template name='teach'>
  <div class='container-fluid' id="rowbg1">
    <div class='row page-header' >
      <h1>Teach a CLASS!</h1>
      <h3>Getting started is easy!</h3>
    </div>
  </div>
  <div class='container'>
    <div class='row'>
      <div class='col-md-3'>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>
      <div class='col-md-3'>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>
      <div class='col-md-3'>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>
      <div class='col-md-3'>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div style="text-align:center;">
        <a href='/register' class='btn btn-success' role='button' >Create My First Class</a>
        <h3>It's Free</h3>
      </div>
      <div class='col-md-6'>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>
      <div class='col-md-6'>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='container'>
    <div class='row' >
      <h1 align='center'>FAQ</h1>
      <ul>
        <li>List1</li>
        <li>List1</li>
        <li>List1</li>
        <li>List1</li>
      </ul>
    </div>
  </div>
</template>