<template name="terms">
  <div class="container">

   <div class="  col-md-8 col-md-offset-2">
   	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Terms of Service
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <h4>1. Contractual Relationship</h4>
    <br>
    <p>These Terms of Use ("<i>Terms</i>") govern
    the access or use by you, an individual, from within the United States and its
    territories and possessions of applications, websites, content, products, and
    services (the "<i>Services</i>") made
    available in the United States and its territories and possessions by Class ,
    LLC and its subsidiaries and affiliates (collectively, "<i>Class</i>"). PLEASE READ THESE TERMS CAREFULLY BEFORE ACCESSING OR USING THE SERVICES. In these Terms, the words "including" and
    "include" mean "including, but not limited to."</p>

    <p>Your access and use of the Services constitutes your agreement to be
    bound by these Terms, which establishes a contractual relationship between you
    and Class. If you do not agree to these Terms, you may not access or use the
    Services. These Terms expressly supersede prior agreements or arrangements with
    you. Class may immediately terminate these Terms or any Services with respect to
    you, or generally cease offering or deny access to the Services or any portion
    thereof, at any time for any reason. </p>

    <p>Supplemental terms may apply to certain Services, such as policies for
    a particular event, activity or promotion, and such supplemental terms will be
    disclosed to you in connection with the applicable Service(s). Supplemental
    terms are in addition to, and shall be deemed a part of, the Terms for the
    purposes of the applicable Service(s). Supplemental terms shall prevail over
    these Terms in the event of a conflict with respect to the applicable Services.</p>

    <p>Class may amend the Terms related to the Services from time to time.
    Amendments will be effective upon Class's posting of such updated Terms at this
    location or the amended policies or supplemental terms on the applicable
    Service(s). Your continued access or use of the Services after such posting constitutes
    your consent to be bound by the Terms, as amended. </p>

    <p>Our collection and use of personal information in connection with the
    Services is as provided in Class's Privacy Policy located at <a href="/legal//privacy">www.Class.com/legal//privacy</a>.
    </p>

    <h4>2. The Services</h4>
    <br>
    <p>The Services constitute a technology platform that enables users of Class's
    mobile applications or websites provided as part of the Services (each, an "<i>Application</i>") to arrange and schedule transportation
    and/or logistics services with third party providers of such services,
    including independent third party transportation providers and third party logistics
    providers under agreement with Class or certain of Class's affiliates ("<i>Third Party Providers</i>"). Unless
    otherwise agreed by Class in a separate written agreement with you, the Services
    are made available solely for your personal, noncommercial use. YOU ACKNOWLEDGE
    THAT Class DOES NOT PROVIDE TRANSPORTATION OR LOGISTICS SERVICES OR FUNCTION AS
    A TRANSPORTATION CARRIER. </p>

    <h5>License.</h5>
    <p>Subject to your
    compliance with these Terms, Class grants you a limited, non-exclusive,
    non-sublicensable, revocable, non-transferrable license to: (i) access and use
    the Applications on your personal device solely in connection with your use of
    the Services; and (ii) access and use any content, information and related
    materials that may be made available through the Services, in each case solely
    for your personal, noncommercial use. Any rights not expressly granted herein
    are reserved by Class and Class's licensors. </p>

    <h5>Restrictions.</h5>
    <p>You may not:
    (i) remove any copyright, trademark or other proprietary notices from any
    portion of the Services; (ii) reproduce, modify, prepare derivative works based
    upon, distribute, license, lease, sell, resell, transfer, publicly display,
    publicly perform, transmit, stream, broadcast or otherwise exploit the Services
    except as expressly permitted by Class; (iii) decompile, reverse engineer or disassemble
    the Services except as may be permitted by applicable law; (iv) link to, mirror
    or frame any portion of the Services; (v) cause or launch any programs or
    scripts for the purpose of scraping, indexing, surveying, or otherwise data
    mining any portion of the Services or unduly burdening or hindering the
    operation and/or functionality of any aspect of the Services; or (vi) attempt
    to gain unauthorized access to or impair any aspect of the Services or its
    related systems or networks. </p>

    <h5>Provision of the Services.</h5>
    <p>You
    acknowledge that portions of the Services may be made available under Class's various
    brands or request options associated with transportation or logistics,
    including the transportation request brands currently referred to as "<i>Class</i>," "<i>ClassX,</i>" "<i>ClassXL</i>," "<i>ClassBLACK,</i>" "<i>ClassSUV</i>" and "<i>ClassLUX</i>"
    and the logistics request brands currently referred to as "<i>ClassRUSH</i>," "<i>ClassFRESH</i>"
    and "<i>ClassEATS</i>". You also acknowledge
    that the Services may be made available under such brands or request options by
    or in connection with: (i) certain of Class's subsidiaries and affiliates; or
    (ii) independent Third Party Providers, including Transportation Network
    Company drivers, Transportation Charter Permit holders or holders of similar transportation
    permits, authorizations or licenses.</p>

    <h5>Third Party Services and Content.</h5>
    <p>The Services may be made available or accessed in connection with
    third party services and content (including advertising) that Class does not
    control. You acknowledge that different terms of use and privacy policies may
    apply to your use of such third party services and content. Class does not
    endorse such third party services and content and in no event shall Class be
    responsible or liable for any products or services of such third party
    providers. Additionally, Apple Inc., Google, Inc., Microsoft Corporation or
    BlackBerry Limited will be a third-party beneficiary to this contract if you
    access the Services using Applications developed for Apple iOS, Android,
    Microsoft Windows, or Blackberry-powered mobile devices, respectively. These
    third party beneficiaries are not parties to this contract and are not
    responsible for the provision or support of the Services in any manner. Your
    access to the Services using these devices is subject to terms set forth in the
    applicable third party beneficiary's terms of service.</p>

    <h5>Ownership.</h5>
    <p>The
    Services and all rights therein are and shall remain Class's property or the
    property of Class's licensors. Neither these Terms nor your use of the Services
    convey or grant to you any rights: (i) in or related to the Services except for
    the limited license granted above; or (ii) to use or reference in any manner Class's
    company names, logos, product and service names, trademarks or services marks
    or those of Class's licensors.</p>

    <h4>3. Your Use of the Services </h4>
    <br>
    <h5>User Accounts.</h5>
    <p>In
    order to use most aspects of the Services, you must register for and maintain an active personal user Services account
    ("<i>Account</i>"). You must be at least 18
    years of age, or the age of legal majority in your jurisdiction (if different
    than 18), to obtain an Account. Account registration requires you to submit to Class
    certain personal information, such as your name, address, mobile phone number
    and age, as well as at least one valid payment method (either a credit card or
    accepted payment partner). You agree to maintain accurate, complete, and
    up-to-date information in your Account. Your failure to maintain accurate,
    complete, and up-to-date Account information, including having an invalid or
    expired payment method on file, may result in your inability to access and use
    the Services or Class's termination of this Agreement with you. You are
    responsible for all activity that occurs under your Account, and you agree to
    maintain the security and secrecy of your Account username and password at all
    times. Unless otherwise permitted by Class in writing, you may only possess one Account.</p>

    <h5>User Requirements and Conduct.</h5>
    <p>The
    Service is not available for use by persons under the age of 18. You may not
    authorize third parties to use your Account, and you may not allow persons
    under the age of 18 to receive transportation or logistics services from Third
    Party Providers unless they are accompanied by you. You may not assign or
    otherwise transfer your Account to any other person or entity. You agree to
    comply with all applicable laws when using the Services, and you may only use
    the Services for lawful purposes (<i>e.g.</i>,
    no transport of unlawful or hazardous materials). You will not in your use of the
    Services cause nuisance, annoyance, inconvenience, or property damage, whether
    to the Third Party Provider or any other party. In certain instances you may be
    asked to provide proof of identity to access or use the Services, and you agree
    that you may be denied access to or use of the Services if you refuse to
    provide proof of identity.</p>

    <h5>Text Messaging.</h5>
    <p>By creating
    an Account, you agree that the Services may send you informational text (SMS)
    messages as part of the normal business operation of your use of the Services.
    You may opt-out of receiving text (SMS) messages from Class at any time by
    texting the word STOP to 89203
    from the mobile device receiving the messages. You acknowledge that opting out
    of receiving text (SMS) messages may impact your use of the Services.</p>

    <h5>Promotional Codes.</h5>
    <p>Class may,
    in Class's sole discretion, create promotional codes that may be redeemed for Account
    credit, or other features or benefits related to the Services and/or a Third
    Party Provider's services, subject to any additional terms that Class establishes
    on a per promotional code basis ("<i>Promo
    Codes</i>"). You agree that Promo Codes: (i) must be used for the intended
    audience and purpose, and in a lawful manner; (ii) may not be duplicated, sold
    or transferred in any manner, or made available to the general public (whether
    posted to a public form or otherwise), unless expressly permitted by Class; (iii)
    may be disabled by Class at any time for any reason without liability to Class;
    (iv) may only be used pursuant to the specific terms that Class establishes for
    such Promo Code; (v) are not valid for cash; and (vi) may expire prior to your
    use. Class reserves the right to withhold or deduct credits or other features or
    benefits obtained through the use of Promo Codes by you or any other user in
    the event that Class determines or believes that the use or redemption of the
    Promo Code was in error, fraudulent, illegal, or in violation of the applicable
    Promo Code terms or these Terms. </p>

    <h5>User Provided Content.</h5>
    <p>Class may, in Class's sole discretion,
    permit you from time to time to submit, upload, publish or otherwise make
    available to Class through the Services textual, audio, and/or visual content
    and information, including commentary and feedback related to the Services, initiation
    of support requests, and submission of entries for competitions and promotions ("<i>User Content</i>"). Any User Content provided
    by you remains your property. However, by providing User Content to Class, you grant
    Class a worldwide, perpetual, irrevocable, transferrable, royalty-free license,
    with the right to sublicense, to use, copy, modify, create derivative works of,
    distribute, publicly display, publicly perform, and otherwise exploit in any
    manner such User Content in all formats and distribution channels now known or
    hereafter devised (including in connection with the Services and Class's
    business and on third-party sites and services), without further notice to or
    consent from you, and without the requirement of payment to you or any other
    person or entity. </p>

    <p>You represent and warrant that: (i) you either are the sole and
    exclusive owner of all User Content or you have all rights, licenses, consents
    and releases necessary to grant Class the license to the User Content as set
    forth above; and (ii) neither the User Content nor your submission, uploading,
    publishing or otherwise making available of such User Content nor Class's use of
    the User Content as permitted herein will infringe, misappropriate or violate a
    third party's intellectual property or proprietary rights, or rights of
    publicity or privacy, or result in the violation of any applicable law or
    regulation. </p>

    <p>You agree to not provide User Content that is defamatory, libelous, hateful,
    violent, obscene, pornographic, unlawful, or otherwise offensive, as determined
    by Class in its sole discretion, whether or not such material may be protected
    by law. Class may, but shall not be obligated to, review, monitor, or remove
    User Content, at Class's sole discretion and at any time and for any reason,
    without notice to you.</p>

    <h5>Network Access and Devices.</h5>
    <p>You are responsible for obtaining the data network access necessary to use the
    Services. Your mobile network's data and messaging rates and fees may apply if
    you access or use the Services from a wireless-enabled device. You are
    responsible for acquiring and updating compatible hardware or devices necessary
    to access and use the Services and Applications and any updates thereto. Class
    does not guarantee that the Services, or any portion thereof, will function on
    any particular hardware or devices. In addition, the Services may be subject to
    malfunctions and delays inherent in the use of the Internet and electronic
    communications.</p>

    <h4>4. Payment</h4>
    <br>
    <p>You understand that use of the Services may result in charges
    to you for the services or goods you receive from a Third Party Provider ("<i>Charges</i>"). After you have received services
    or goods obtained through your use of the Service, Class will facilitate your payment
    of the applicable Charges on behalf of the Third Party Provider, as such Third
    Party Provider's limited payment collection agent. Payment of the Charges
    in such manner shall be considered the same as payment made directly by you to
    the Third Party Provider. Charges will be inclusive of applicable taxes where
    required by law. Charges paid by you are final and non-refundable, unless
    otherwise determined by Class. You retain the right to request lower Charges from
    a Third Party Provider for services or goods received by you from such Third
    Party Provider at the time you receive such services or goods. Class will
    respond accordingly to any request from a Third Party Provider to modify the Charges
    for a particular service or good. </p>

    <p>All Charges are due immediately and payment will be
    facilitated by Class using the preferred payment method designated in your
    Account, after which Class will send you a receipt by email. If your primary
    Account payment method is determined to be expired, invalid or otherwise not
    able to be charged, you agree that Class may, as the Third Party Provider's
    limited payment collection agent, use a secondary payment method in your
    Account, if available.</p>

    <p>As between you and Class, Class reserves the right to
    establish, remove and/or revise Charges for any or all services or goods
    obtained through the use of the Services at any time in Class's sole discretion.
    Further, you acknowledge and agree that Charges applicable in certain
    geographical areas may increase substantially during times of high demand. Class
    will use reasonable efforts to inform you of Charges that may apply, provided
    that you will be responsible for Charges incurred under your Account regardless
    of your awareness of such Charges or the amounts thereof. Class may from time to
    time provide certain users with promotional offers and discounts that may
    result in different amounts charged for the same or similar services or goods
    obtained through the use of the Services, and you agree that such promotional
    offers and discounts, unless also made available to you, shall have no bearing on
    your use of the Services or the Charges applied to you. You may elect to cancel
    your request for services or goods from a Third Party Provider at any time
    prior to such Third Party Provider's arrival, in which case you may be charged
    a cancellation fee. </p>

    <p>This payment structure is intended to fully compensate the Third
    Party Provider for the services or goods provided. Except with respect to
    taxicab transportation services requested through the Application, Class does
    not designate any portion of your payment as a tip or gratuity to the Third Party
    Provider. Any representation by Class (on Class's website, in the
    Application, or in Class's marketing materials) to the effect that tipping is
    "voluntary," "not required," and/or "included" in the payments you make for
    services or goods provided is not intended to suggest that Class provides any
    additional amounts, beyond those described above, to the Third Party Provider. You
    understand and agree that, while you are free to provide additional payment as
    a gratuity to any Third Party Provider who provides you with services or goods obtained
    through the Service, you are under no obligation to do so. Gratuities are
    voluntary. After you have received services or goods obtained through the
    Service, you will have the opportunity to rate your experience and leave
    additional feedback about your Third Party Provider.</p>

    <h5>Repair or Cleaning Fees.</h5>
    <p>You shall be responsible for the cost of repair for damage to, or necessary
    cleaning of, Third Party Provider vehicles and property resulting from use of
    the Services under your Account in excess of normal "wear and tear" damages and
    necessary cleaning ("<i>Repair or Cleaning</i>").
    In the event that a Third Party Provider reports the need for Repair or
    Cleaning, and such Repair or Cleaning request is verified by Class in Class's
    reasonable discretion, Class reserves the right to facilitate payment for the
    reasonable cost of such Repair or Cleaning on behalf of the Third Party
    Provider using your payment method designated in your Account. Such amounts will be transferred by Class
    to the applicable Third Party Provider and are non-refundable.</p>

    <h4>5. Disclaimers; Limitation of Liability; Indemnity.</h4>
    <br>
    <h5>DISCLAIMER. </h5>
    <p>THE SERVICES ARE
    PROVIDED "AS IS" AND "AS AVAILABLE." Class DISCLAIMS ALL REPRESENTATIONS AND WARRANTIES, EXPRESS, IMPLIED, OR
    STATUTORY, NOT EXPRESSLY SET OUT IN THESE TERMS, INCLUDING THE IMPLIED
    WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
    NON-INFRINGEMENT. IN ADDITION, Class MAKES NO REPRESENTATION, WARRANTY, OR
    GUARANTEE REGARDING THE RELIABILITY, TIMELINESS, QUALITY, SUITABILITY, OR AVAILABILITY
    OF THE SERVICES OR ANY SERVICES OR GOODS REQUESTED THROUGH THE USE OF THE
    SERVICES, OR THAT THE SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE. Class DOES
    NOT GUARANTEE THE QUALITY, SUITABILITY, SAFETY OR ABILITY OF THIRD PARTY
    PROVIDERS. YOU AGREE THAT THE ENTIRE RISK ARISING OUT OF YOUR USE OF THE
    SERVICES, AND ANY SERVICE OR GOOD REQUESTED IN CONNECTION THEREWITH, REMAINS
    SOLELY WITH YOU, TO THE MAXIMUM EXTENT PERMITTED UNDER APPLICABLE LAW. </p>

    <h5>LIMITATION OF LIABILITY.</h5>
    <p>Class
    SHALL NOT BE LIABLE FOR INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE, OR
    CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, LOST DATA, PERSONAL INJURY, OR PROPERTY
    DAMAGE RELATED TO, IN CONNECTION WITH, OR OTHERWISE RESULTING FROM ANY USE OF
    THE SERVICES, EVEN IF Class HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
    Class SHALL NOT BE LIABLE FOR ANY DAMAGES, LIABILITY OR LOSSES ARISING OUT OF:
    (i) YOUR USE OF OR RELIANCE ON THE SERVICES OR YOUR INABILITY TO ACCESS OR USE
    THE SERVICES; OR (ii) ANY TRANSACTION OR RELATIONSHIP BETWEEN YOU AND ANY THIRD
    PARTY PROVIDER, EVEN IF Class HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH
    DAMAGES. Class SHALL NOT BE LIABLE FOR DELAY OR FAILURE IN PERFORMANCE RESULTING
    FROM CAUSES BEYOND Class'S REASONABLE CONTROL. YOU ACKNOWLEDGE THAT THIRD PARTY
    TRANSPORTATION PROVIDERS PROVIDING TRANSPORTATION SERVICES REQUESTED THROUGH SOME
    REQUEST BRANDS MAY OFFER RIDESHARING OR PEER-TO-PEER TRANSPORTATION SERVICES
    AND MAY NOT BE PROFESSIONALLY LICENSED OR PERMITTED. IN NO EVENT SHALL Class'S
    TOTAL LIABILITY TO YOU IN CONNECTION WITH THE SERVICES FOR ALL DAMAGES, LOSSES
    AND CAUSES OF ACTION EXCEED FIVE HUNDRED U.S. DOLLARS (US $500).</p>

    <p>Class'S SERVICES MAY BE USED BY YOU TO REQUEST AND SCHEDULE
    TRANSPORTATION, GOODS, OR LOGISTICS SERVICES WITH THIRD PARTY PROVIDERS, BUT
    YOU AGREE THAT Class HAS NO RESPONSIBILITY OR LIABILITY TO YOU RELATED TO ANY
    TRANSPORTATION, GOODS OR LOGISTICS SERVICES PROVIDED TO YOU BY THIRD PARTY
    PROVIDERS OTHER THAN AS EXPRESSLY SET FORTH IN THESE TERMS. </p>

    <p>THE LIMITATIONS AND DISCLAIMER IN THIS SECTION 5 DO NOT PURPORT TO
    LIMIT LIABILITY OR ALTER YOUR RIGHTS AS A CONSUMER THAT CANNOT BE EXCLUDED
    UNDER APPLICABLE LAW.</p>

    <h5>Indemnity.</h5>
    <p>You agree to
    indemnify and hold Class and its officers, directors, employees, and agents harmless
    from any and all claims, demands, losses, liabilities, and expenses (including
    attorneys' fees), arising out of or in connection with: (i) your use of the
    Services or services or goods obtained through your use of the Services; (ii) your
    breach or violation of any of these Terms; (iii) Class's use of your User Content;
    or (iv) your violation of the rights of any third party, including Third Party
    Providers.</p>

    <h4>6. Dispute Resolution </h4>
    <br>
    <h5>Arbitration.</h5>
    <p>You
    agree that any dispute, claim or controversy arising out of or relating to
    these Terms or the breach, termination, enforcement, interpretation or validity
    thereof or the use of the Services (collectively, "<i>Disputes</i>") will be settled by binding arbitration between you and Class,
    except that each party retains the right to bring an individual action in small
    claims court and the right to seek injunctive or other equitable relief in a
    court of competent jurisdiction to prevent the actual or threatened
    infringement, misappropriation or violation of a party's copyrights,
    trademarks, trade secrets, patents or other intellectual property rights. You
    acknowledge and agree that you and Class are each waiving the right to a trial
    by jury or to participate as a plaintiff or class in any purported class action
    or representative proceeding. Further, unless both you and Class otherwise agree
    in writing, the arbitrator may not consolidate more than one person's claims,
    and may not otherwise preside over any form of any class or representative
    proceeding. If this specific paragraph is held unenforceable, then the entirety
    of this "Dispute Resolution" section will be deemed void. Except as provided in
    the preceding sentence, this "Dispute Resolution" section will survive any
    termination of these Terms.</p>

    <h5>Arbitration Rules and Governing Law.</h5>
    <p>The arbitration will be administered by the American
    Arbitration Association ("<i>AAA</i>") in
    accordance with the Commercial Arbitration Rules and the Supplementary
    Procedures for Consumer Related Disputes (the "<i>AAA Rules</i>") then in effect, except as modified by this "Dispute
    Resolution" section. (The AAA Rules are available at <a href="http://www.adr.org/arb_med">www.adr.org/arb_med</a> or by calling the AAA
    at 1-800-778-7879.) The Federal Arbitration Act will govern the interpretation
    and enforcement of this Section.</p>

    <h5>Arbitration Process.</h5>
    <p>A party who desires to initiate arbitration must provide the other party with a
    written Demand for Arbitration as specified in the AAA Rules. (The AAA provides
    a form Demand for Arbitration at <a href="http://www.adr.org/aaa/ShowPDF?doc=ADRSTG_004175">www.adr.org/aaa/ShowPDF?doc=ADRSTG_004175</a>
    and a separate form for California residents at <a href="http://www.adr.org/aaa/ShowPDF?doc=ADRSTG_015822">www.adr.org/aaa/ShowPDF?doc=ADRSTG_015822</a>.)
    The arbitrator will be either a retired judge or an attorney licensed to
    practice law in the state of California and will be selected by the parties
    from the AAA's roster of consumer dispute arbitrators. If the parties are
    unable to agree upon an arbitrator within seven (7) days of delivery of the
    Demand for Arbitration, then the AAA will appoint the arbitrator in accordance
    with the AAA Rules.</p>

    <h5>Arbitration Location and Procedure.</h5>
    <p>Unless you and Class otherwise agree, the arbitration will be
    conducted in the county where you reside. If your claim does not exceed
    $10,000, then the arbitration will be conducted solely on the basis of
    documents you and Class submit to the arbitrator, unless you request a hearing
    or the arbitrator determines that a hearing is necessary. If your claim exceeds
    $10,000, your right to a hearing will be determined by the AAA Rules. Subject
    to the AAA Rules, the arbitrator will have the discretion to direct a
    reasonable exchange of information by the parties, consistent with the
    expedited nature of the arbitration.</p>

    <h5>Arbitrator's Decision.</h5>
    <p>The arbitrator will render an award within the time frame
    specified in the AAA Rules. The arbitrator's decision will include the
    essential findings and conclusions upon which the arbitrator based the award.
    Judgment on the arbitration award may be entered in any court having
    jurisdiction thereof. The arbitrator's award damages must be consistent with
    the terms of the "Limitation of Liability" section above as to the types and
    the amounts of damages for which a party may be held liable. The arbitrator may
    award declaratory or injunctive relief only in favor of the claimant and only
    to the extent necessary to provide relief warranted by the claimant's
    individual claim. If you prevail in arbitration you will be entitled to an
    award of attorneys' fees and expenses, to the extent provided under applicable
    law. Class will not seek, and hereby waives all rights Class may have under
    applicable law to recover, attorneys' fees and expenses if Class prevail in
    arbitration.</p>

    <h5>Fees.</h5>
    <p>Your
    responsibility to pay any AAA filing, administrative and arbitrator fees will
    be solely as set forth in the AAA Rules. However, if your claim for damages
    does not exceed $75,000, Class will pay all such fees unless the arbitrator
    finds that either the substance of your claim or the relief sought in your
    Demand for Arbitration was frivolous or was brought for an improper purpose (as
    measured by the standards set forth in Federal Rule of Civil Procedure 11(b)).</p>

    <h5>Changes.</h5>
    <p>Notwithstanding the provisions of the modification-related provisions above, if
    Class changes this "Dispute Resolution" section after the date you first
    accepted these Terms (or accepted any subsequent changes to these Terms), you
    may reject any such change by providing Class written notice of such rejection
    by mail or hand delivery to: Class , LLC, Attn: Dispute Resolutions, 160
    Greentree Drive, Suite 101, Dover, DE 19904, or by email from the email address
    associated with your Account to: <a href="mailto:change-dr@Class.com">change-dr@Class.com</a>, within 30 days of the date such change
    became effective, as indicated in the "Last update" date above. In order to be
    effective, the notice must include your full name and clearly indicate your intent
    to reject changes to this "Dispute Resolution" section. By rejecting changes,
    you are agreeing that you will arbitrate any Dispute between you and Class in
    accordance with the provisions of this "Dispute Resolution" section as of the
    date you first accepted these Terms (or accepted any subsequent changes to
    these Terms).</p>

    <h4>7. Other Provisions</h4>
    <br>
    <h5>Choice of Law.</h5>
    <p>These Terms are governed by and
    construed in accordance with the laws of the State of California, U.S.A.,
    without giving effect to any conflict of law principles.</p>

    <h5>Claims of Copyright Infringement.</h5>
    <p>Claims of
    copyright infringement should be sent to Class's designated agent. Please visit Class's
    web page at <a href="/legal//copyright">www.Class.com/legal//copyright</a>
    for the designated address and additional information.</p>

    <h5>Notice.</h5>
    <p>Class may
    give notice by means of a general notice on the Services, electronic mail to
    your email address in your Account, or by written communication sent by first
    class mail or pre-paid post to your address in your Account. Such notice shall
    be deemed to have been given upon the expiration of 48 hours after mailing or
    posting (if sent by first class mail or pre-paid post) or 12 hours after
    sending (if sent by email). You may give notice to Class, with such notice
    deemed given when received by Class, at any time by first class mail or pre-paid
    post to Class , LLC, Attn: User Notices - Legal, 160 Greentree Drive, Suite
    101, Dover, DE 19904.</p>

    <h5>General.</h5>
    <p>You may
    not assign these Terms without Class's prior written approval. Class may assign
    these Terms without your consent to: (i) a subsidiary or affiliate; (ii) an
    acquirer of Class's equity, business or assets; or (iii) a successor by merger.
    Any purported assignment in violation of this section shall be void. No joint
    venture, partnership, employment, or agency relationship exists between you, Class
    or any Third Party Provider as a result of this Agreement or use of the Services.
    If any provision of these Terms is held to be invalid or unenforceable, such
    provision shall be struck and the remaining provisions shall be enforced to the
    fullest extent under law. Class's failure to enforce any right or provision in
    these Terms shall not constitute a waiver of such right or provision unless
    acknowledged and agreed to by Class in writing. </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Host/Instructor Privacy Statement
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">

<p>
  Effective Date: July 15th 2015
</p>
<p>
  Class collects information about you when you use our mobile applications, websites, and other online products and services (collectively, the “Services”)
  and through other interactions and communications you have with us. For persons residing in the United States, the Services are provided by Class , LLC
  and its U.S. affiliates (herein after “Class” or “we”).
</p>
<h4>Scope and Application</h4>
<p>
  This U.S. Driver Privacy Statement (“Statement”) applies to drivers, couriers, partner transportation companies, and any other persons
  that use the Class platform under license (collectively “Drivers,” or individually “you”) and reside in the United States. This Statement does not apply
  to Drivers who reside outside the United States. The Statement also does not apply to persons (e.g. riders) who use our app or Services to request
  transportation, delivery, or other on-demand services (“Users”). If you interact with the Services as both a User and a Driver, the respective privacy statements apply to
  your different interactions.
</p>
<h4>Collection of Information</h4>
<p>
  Class may collect personal data from you during the course of your application for, and use of, the Class Services, including location
  data, which information may be stored, processed, and/or accessed by Class, as well as its service providers, for business purposes, including for marketing, lead generation,
  service development and improvement, analytics, industry and market research, and such other purposes consistent with Class’s and its Affiliates’ legitimate
  business needs. By submitting information to Class during the application process and/or by using the Services, you consent to such collection and use of
  personal data.
</p>
<h4>Disclosure of Driver Information to Third Parties</h4>
<p>
  Subject to all applicable laws, Class may provide to a third party any information (including personal data and any Class Data) about Drivers provided
  hereunder if: (a) there is a complaint, dispute or conflict, including an accident, relating to a Driver; (b) it is necessary to enforce the terms of the Agreement;
  (c) it is required, in Class’s sole discretion, by applicable law, regulation, ordinance, license, or operating agreement; (d) it is necessary, in Class’s sole discretion, to protect the
  safety, rights, property, or security of Class, the Class Services, or any third party; to detect, prevent or otherwise address fraud, security or technical
  issues; and/or to prevent or stop activity which Class, in its sole discretion, considers to be, or to pose a risk of being,
  illegal, unethical, or legally actionable.
</p>
<h4>Location-Based Services Consent </h4>
<p>
  You hereby expressly consent to Class’s use of location-based services and expressly waive and release Class from any and all liability,
  claims, causes of action or damages arising from your use of the Class Services, or in any way relating to the use of the precise location and other
  location-based services.
</p>


      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accmus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accmus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>
     <h1>Class's Terms of Service</h1>




<!--<h2>-->
<!--	Web Site Terms and Conditions of Use-->
<!--</h2>-->

<!--<h3>-->
<!--	1. Terms-->
<!--</h3>-->

<!--<p>-->
<!--	By accessing this web site, you are agreeing to be bound by these-->
<!--	web site Terms and Conditions of Use, all applicable laws and regulations,-->
<!--	and agree that you are responsible for compliance with any applicable local-->
<!--	laws. If you do not agree with any of these terms, you are prohibited from-->
<!--	using or accessing this site. The materials contained in this web site are-->
<!--	protected by applicable copyright and trade mark law.-->
<!--</p>-->

<!--<h3>-->
<!--	2. Use License-->
<!--</h3>-->

<!--<ol type="a">-->
<!--	<li>-->
<!--		Permission is granted to temporarily download one copy of the materials-->
<!--		(information or software) on Class, Inc.'s web site for personal,-->
<!--		non-commercial transitory viewing only. This is the grant of a license,-->
<!--		not a transfer of title, and under this license you may not:-->

<!--		<ol type="i">-->
<!--			<li>modify or copy the materials;</li>-->
<!--			<li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>-->
<!--			<li>attempt to decompile or reverse engineer any software contained on Class, Inc.'s web site;</li>-->
<!--			<li>remove any copyright or other proprietary notations from the materials; or</li>-->
<!--			<li>transfer the materials to another person or "mirror" the materials on any other server.</li>-->
<!--		</ol>-->
<!--	</li>-->
<!--	<li>-->
<!--		This license shall automatically terminate if you violate any of these restrictions and may be terminated by Class, Inc. at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.-->
<!--	</li>-->
<!--</ol>-->

<!--<h3>-->
<!--	3. Disclaimer-->
<!--</h3>-->

<!--<ol type="a">-->
<!--	<li>-->
<!--		The materials on Class, Inc.'s web site are provided "as is". Class, Inc. makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, Class, Inc. does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.-->
<!--	</li>-->
<!--</ol>-->

<!--<h3>-->
<!--	4. Limitations-->
<!--</h3>-->

<!--<p>-->
<!--	In no event shall Class, Inc. or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on Class, Inc.'s Internet site, even if Class, Inc. or a Class, Inc. authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.-->
<!--</p>-->

<!--<h3>-->
<!--	5. Revisions and Errata-->
<!--</h3>-->

<!--<p>-->
<!--	The materials appearing on Class, Inc.'s web site could include technical, typographical, or photographic errors. Class, Inc. does not warrant that any of the materials on its web site are accurate, complete, or current. Class, Inc. may make changes to the materials contained on its web site at any time without notice. Class, Inc. does not, however, make any commitment to update the materials.-->
<!--</p>-->

<!--<h3>-->
<!--	6. Links-->
<!--</h3>-->

<!--<p>-->
<!--	Class, Inc. has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Class, Inc. of the site. Use of any such linked web site is at the user's own risk.-->
<!--</p>-->

<!--<h3>-->
<!--	7. Site Terms of Use Modifications-->
<!--</h3>-->

<!--<p>-->
<!--	Class, Inc. may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.-->
<!--</p>-->

<!--<h3>-->
<!--	8. Governing Law-->
<!--</h3>-->

<!--<p>-->
<!--	Any claim relating to Class, Inc.'s web site shall be governed by the laws of the State of Ohio without regard to its conflict of law provisions.-->
<!--</p>-->

<!--<p>-->
<!--	General Terms and Conditions applicable to Use of a Web Site.-->
<!--</p>-->



<!--<h2>-->
<!--	Privacy Policy-->
<!--</h2>-->

<!--<p>-->
<!--	Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.-->
<!--</p>-->

<!--<ul>-->
<!--	<li>-->
<!--		Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.-->
<!--	</li>-->
<!--	<li>-->
<!--		We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.-->
<!--	</li>-->
<!--	<li>-->
<!--		We will only retain personal information as long as necessary for the fulfillment of those purposes.-->
<!--	</li>-->
<!--	<li>-->
<!--		We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.-->
<!--	</li>-->
<!--	<li>-->
<!--		Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.-->
<!--	</li>-->
<!--	<li>-->
<!--		We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.-->
<!--	</li>-->
<!--	<li>-->
<!--		We will make readily available to customers information about our policies and practices relating to the management of personal information.-->
<!--	</li>-->
<!--</ul>-->

<!--<p>-->
<!--	We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained.-->
<!--</p>-->


<!--        				<br>-->
<!--        				<p>-->
<!--        					The following terms and conditions govern all use of the Class website ("the Website"). The Website is offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, Class's Privacy Policies) and procedures that may be published from time to time on this Site by Class (collectively, the "Agreement").-->
<!--Please read this Agreement carefully before accessing or using the Website. By accessing or using any part of the web site, you agree to become bound by the terms and conditions of this agreement. If you do not agree to all the terms and conditions of this agreement, then you may not access the Website or use any services. If these terms and conditions are considered an offer by Class, acceptance is expressly limited to these terms. The Website is available only to individuals who are at least 13 years old.-->
<!--        				</p>-->
<!--        				<h2>1. Access to your Class Account</h2>-->
<!--            			<p>-->
<!--							Subject to the terms and conditions of this Agreement, the Service is solely for User's personal use. As used herein, "User" includes Class's paying customers ("Customers"). This Agreement sets forth certain terms and conditions that apply to Customers, but not other Users. In the event any Customer-specific terms or conditions conflict with any of the terms or conditions that apply to Users generally, the Customer-specific terms/conditions shall control.-->
<!--Class may change, suspend or discontinue the Services at any time, including the availability of any feature, database, or content. Class may also impose limits on certain features and services or restrict User's access to parts or all of the Services without notice or liability.-->
<!--User certifies to Class that if User is an individual (i.e., not a corporation) User is at least 13 years of age. User also certifies that it is legally permitted to use the Service, and takes full responsibility for the selection and use of the the Service. This Agreement is void where prohibited by law, and the right to access the Service is revoked in such jurisdictions.-->
<!--User shall be responsible for obtaining and maintaining any equipment or ancillary services needed to connect to, access the Service, including, without limitation, modems, hardware, software, and long distance or local telephone service. User shall be responsible for ensuring that such equipment or ancillary services are compatible with the Service.-->
<!--            			</p>-->
<!--        				<h2>2. Restrictions</h2>-->
<!--            			<p>-->
<!--							User shall not, nor permit anyone else to, directly or indirectly: (i) reverse engineer, disassemble, decompile or otherwise attempt to discover the source code or underlying algorithms of all or any part of the Service (except that this restriction shall not apply to the limited extent restrictions on reverse engineering are prohibited by applicable local law); (ii) modify or create derivatives of any part of the Service; (iii) rent, lease, or use the Service for timesharing or service bureau purposes; or (iv) remove or obscure any proprietary notices on the Service. As between the parties, Company shall own all title, ownership rights, and intellectual property rights in and to the Service, and any copies or portions thereof.-->
<!--User shall not use any "deep-link", "page-scrape", "robot", "spider" or other automatic device, program, algorithm or methodology, or any similar or equivalent manual process, to access, acquire, copy or monitor any portion of the Service or any Content, or in any way reproduce or circumvent the navigational structure or presentation of the Service or any Content, to obtain or attempt to obtain any materials, documents or information through any means not purposely made available through the Service. Class reserves the right to bar any such activity.-->
<!--User shall not attempt to gain unauthorized access to any portion or feature of the Service, or any other systems or networks connected to the Service or to any Class server, or to any of the services offered on or through the Service, by hacking, password "mining", or any other illegitimate means.-->
<!--User shall not probe, scan or test the vulnerability of the Service or any network connected to the Service, nor breach the security or authentication measures on the Service or any network connected to the Service.-->
<!--User shall not take any action that imposes an unreasonable or disproportionately large load on the infrastructure of the Service or Class's systems or networks, or any systems or networks connected to the Service or to Class.-->
<!--User shall not use any device, software or routine to interfere or attempt to interfere with the proper working of the Service or any transaction being conducted on the Service, or with any other person's use of the Service.-->
<!--User shall not use the Service or any Content for any purpose that is unlawful or prohibited by this Agreement.-->

<!--            			</p>-->
<!--            			<h2>3. Fees and Payment</h2>-->
<!--           				<p>-->
<!--           					Optional premium paid services are available on the Website. By selecting a premium service you agree to pay Class fees indicated for that service. Fees are processed immediately as part of the transaction and are non-refundable.-->
<!--           					Payment processing services for account holders on Class are provided by Stripe and are subject to the <label class="underline"> <a href="https://stripe.com/connect/account-terms">Stripe Connected Account Agreement</a></label>, which includes the <label class="underline"> <a href="https://stripe.com/terms">Stripe Terms of Service</a></label>  (collectively, the “Stripe Services Agreement”). By agreeing to these terms or continuing to operate as an account holder on Class, you agree to be bound by the Stripe Services Agreement, as the same may be modified by Stripe from time to time. As a condition of Class enabling payment processing services through Stripe, you agree to provide Class accurate and complete information about you and your business, and you authorize Class to share it and transaction information related to your use of the payment processing services provided by Stripe.-->
<!--           				</p>-->
<!--           				<h2>4. Registration; Security</h2>-->
<!--           				<p>-->
<!--							As a condition to using certain products and services of the Service, User may be required to register with Class and select a password. User shall provide Class with accurate, complete, and updated registration information. Failure to do so shall constitute a breach of this Agreement, which may result in immediate termination of User's account. Class reserves the right to refuse registration of, or cancel a Class User in its discretion. User shall be responsible for maintaining the confidentiality of User's Class password and other account information.-->
<!--           				</p>-->
<!--           				<h2>5. Termination</h2>-->
<!--           				<p>-->
<!--           					Class may terminate your access to all or any part of the Website at any time, with or without cause, with or without notice, effective immediately. If you wish to terminate this Agreement or your Class account (if you have one), you may simply discontinue using the Website. Notwithstanding the foregoing, if you have a paid account, such account can only be terminated by Class if you materially breach this Agreement; provided that, Class can terminate the Website immediately as part of a general shut down of our service. All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.-->
<!--           				</p>-->
<!--           				<h2>6. Content</h2>-->
<!--           				<p>-->
<!--           					User agrees that all content and materials (collectively, "Content") delivered via the Service or otherwise made available by Class at the Site are protected by copyrights, trademarks, service marks, patents, trade secrets or other proprietary rights and laws. Class does not support the distribution of pornographic content. Except as expressly authorized by Class in writing, User agrees not to sell, license, rent, modify, distribute, copy, reproduce, transmit, publicly display, publicly perform, publish, adapt, edit or create derivative works from such materials or content.-->
<!--           				</p>-->
<!--           				<h2>7. Changes</h2>-->
<!--           				<p>-->
<!--           					Class reserves the right, at its sole discretion, to modify or replace any part of this Agreement. It is your responsibility to check this Agreement periodically for changes. Your continued use of or access to the Website following the posting of any changes to this Agreement constitutes acceptance of those changes. Class may also, in the future, offer new services and/or features through the Website (including, the release of new tools and resources). Such new features and/or services shall be subject to the terms and conditions of this Agreement.-->
<!--           				</p>-->
<!--           				<h2>8. Warranties</h2>-->
<!--           				<p>-->
<!--           					If User is a Customer, Class makes the following warranty to Customer: Class shall use commercially reasonable efforts consistent with prevailing industry standards to provide the services in a professional and workmanlike manner that is free of defects. Customer's sole remedy, and Class's exclusive liability, for defects in the Service shall be for Class to use commercially reasonable efforts to promptly correct such defects.-->
<!--Customer represents and warrants that: (i) with respect to all information it provides to Class (such as, Recipient Information), Customer has the full right and authority to make such provision and to allow Class to use such information to provide the Service (including, without limitation, for Class to provide such information to its data providers), (ii) none of the content (e.g. emails) transmitted, uploaded or otherwise distributed by it (or its partners or any third party) through use of the Service will infringe or otherwise conflict with the rights of any third party.-->
<!--           				</p>-->
<!--           				<h2>9. Warranty Disclaimer</h2>-->
<!--           				<p>-->
<!--           					The Website is provided "as is". Class and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement. Neither Class nor its suppliers and licensors, makes any warranty that the Website will be error free or that access thereto will be continuous or uninterrupted. You understand that you download from, or otherwise obtain content or services through, the Website at your own discretion and risk.-->
<!--           				</p>-->
<!--           				<h2>10. Security</h2>-->
<!--           				<p>-->
<!--           					In no event will Class, or its suppliers or licensors, be liable with respect to any subject matter of this agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement or substitute products or services; (iii) for interruption of use or loss or corruption of data; or (iv) for any amounts that exceed the fees paid by you to Class under this agreement during the twelve (12) month period prior to the cause of action. Class shall have no liability for any failure or delay due to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.-->
<!--           				</p>-->
<!--           				<h2>11. General Representation and Warranty</h2>-->
<!--           				<p>-->
<!--           					You represent and warrant that (i) your use of the Website will be in strict accordance with the Class Privacy Policy, with this Agreement and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the United Kingdom or the country in which you reside) and (ii) your use of the Website will not infringe or misappropriate the intellectual property rights of any third party.-->
<!--           				</p>-->
<!--           				<h2>12. Privacy</h2>-->
<!--           				<p>-->
<!--           					Class's current privacy policy is available at the Site (the "Privacy Policy"), which is incorporated by this reference. Class strongly recommends that you review the Privacy Policy closely.-->
<!--           				</p>-->
<!--           				<h2>13. Copyright</h2>-->
<!--           				<p>-->
<!--           					All content included on the Site, such as text, graphics, logos, button icons, images, audio clips, digital downloads, data compilations, and software, is the property of Class or its content suppliers and protected by United States and international copyright laws. The compilation of all content on the Site is the exclusive property of Class and protected by U.S. and international copyright laws. All software used on (or provided through) the Site is the property of Class or its software suppliers and protected by United States and international copyright laws.-->
<!--           				</p>-->
<!--           				<h2>14. Indemnification</h2>-->
<!--           				<p>-->
<!--           					You agree to indemnify and hold harmless Class, its contractors, and its licensors, and their respective directors, officers, employees and agents from and against any and all claims and expenses, including attorneys' fees, arising out of your use of the Website, including but not limited to out of your violation this Agreement.-->
<!--           				</p>-->
<!--                     </div>-->
  </div>
  </div>
</template>