<template name="getPaid">
  <div class="col-md-8 col-md-offset-2">
    {{#if hasAccount}}
      <h2>Account Dashboard</h2>
        <h3>{{account.business_name}}</h3>
        <p>
          <h4><small>Account Representitive: </small>{{account.legal_entity.first_name}} {{account.legal_entity.last_name}} <small>email: </small>{{account.email}} </h4>
        </p>
        {{account.legal_entity.dob.day}}/{{account.legal_entity.dob.month}}/{{account.legal_entity.dob.year}}
        {{account.external_accounts.data.[0].bank_name}}
        {{account.external_accounts.data.[0].last4}}
        {{account.external_accounts.data.[0].routing_number}}
        {{account.external_accounts.data.[0].status}}
        <p>
          {{account.legal_entity.address.line1}}
        </p>
        <p>
          {{account.legal_entity.address.city}}, {{account.legal_entity.address.state}} {{account.legal_entity.address.postal_code}}
        </p>


    {{else}}
      <h3>Start Instructing</h3>
      {{> quickForm collection="Account" id="insertAccount" type="insert"}}
    {{/if}}
  </div>
</template>