<template name="_loginButtonsAdditionalLoggedInDropdownActions">
    <button class="btn btn-default btn-block" id="login-buttons-edit-profile">Edit profile</button>
</template>

<template name="profileEdit">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">Edit Profile</div>
      </div>
      <div class="panel-body">
        {{> quickForm collection="Meteor.users" doc=user id="updateUserProfile" type="update"}}
      </div>
    </div>
  </div>
</template>
